<template>
<section class="px-5 md:pt-[179px] pt-1 md:pb-[129px] pb-[58px]">
    <div class="flex items-center justify-between mx-auto max-w-[1170px] static">
        <div class="md:w-1/2 w-full md:max-w-[570px] ff-poppins">
            <p class="md:text-xl text-lg text-[#C25FFF] mb-[14px] font-semibold text-center">{{ subtitle }}</p>
            <h2 class="md:text-[40px] text-[32px] text-white md:leading-[1.2] leading-normal mb-4 font-semibold text-center">{{ title }}</h2>
            <p class="text-gray md:leading-[1.625] leading-[1.7] opacity-80 md:mb-[38px] mb-[84px] tracking-[0.6px] md:pr-16 md:pl-0 px-4 text-center">{{ text }}</p>
            <div class="-mx-1">
                <div 
                    class="accordeon_item flex-col md:flex-row flex items-center justify-between bg-[rgba(255,255,255,0.05)] rounded-[20px] md:p-[30px] p-[15px] md:mb-5 mb-[22px]"
                    v-for="(item, index) in accordeon.items" 
                    :key="index"
                    @click="accordeon.open_item=index"
                >
                    <div class="opacity-gradient-bg mb-auto md:w-[50px] md:h-[50px] md:min-w-[50px] w-[40px] h-[40px] min-w-[40px] rounded-[10px] text-white md:text-[30px] text-lg flex items-center justify-center font-bold mr-auto">
                        {{ (index+1) }}
                    </div>
                    <div class="w-full md:pl-[22px] static">
                        <h3 
                            class="accordeon_title text-white opacity-80 md:text-xl text-lg font-bold cursor-pointer md:pr-12 md:relative static md:mt-0 mt-3"
                            v-bind:class="{open: accordeon.open_item==index}"
                        >{{ item.title }}</h3>
                        <p 
                            class="pt-4 text-gray text-sm leading-[1.857] md:max-w-[380px]"
                            v-bind:class="{hidden: accordeon.open_item!=index}"
                        >{{ item.text }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden md:block absolute right-0 transform translate-y-[12.7%] w-[calc(50%+66px)]">
            <img class="w-full max-h-full" v-bind:src="right_img_url" alt="">
        </div>

    </div>
</section>
</template>

<script>
    export default {
        data(){
            return {
                subtitle: "The power of QuantumLife",
                title: "The world’s first quantum manifestion app",
                text: "We’re only beginning to understand the true power of the Quantum Multiverse. Together with world renowned experts we’re expanding the boundaries of what is possible.",
                accordeon: {
                    open_item: 0,
                    items: [
                        {
                            title: "Millions of ways to personalize",
                            text: "We help you to find where you’re blocking yourself from perfect wealth, health, succes, love, vision, inner power, spiritual growth and connection. Your quantum movies will be completely personalized so you can unlock your highest potential and attract what you really deserve."
                        },
                        {
                            title: "Learn from renowned experts",
                            text: "2 We help you to find where you’re blocking yourself from perfect wealth, health, succes, love, vision, inner power, spiritual growth and connection. Your quantum movies will be completely personalized so you can unlock your highest potential and attract what you really deserve."
                        },
                        {
                            title: "Get access to untapped knowledge",
                            text: "3 We help you to find where you’re blocking yourself from perfect wealth, health, succes, love, vision, inner power, spiritual growth and connection. Your quantum movies will be completely personalized so you can unlock your highest potential and attract what you really deserve."
                        }
                    ]
                },
                right_img_url: "src/assets/img/about_app_img.png"
            }
        }
    }
</script>

<style scoped>

.accordeon_item {
    box-shadow: -1px -1px 8px -5px white;
}

.accordeon_title:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    right: 22px;
    top: 6px;
    transform: rotate(45deg);
    border-right: solid 2px white;
    border-bottom: solid 2px white;
}

.accordeon_title.open:after {
    transform: rotate(45deg) scale(-1);
    top: 14px;
}

@media (max-width: 769px) {
    
    .accordeon_title:after {
        top: 27px;
    }
    .accordeon_title.open:after {
        top: 30px;
    }
}

</style>