<template>
    <section class="bg-no-repeat bg-cover bg-[url('./src/assets/img/fs_bg.png')]">
        <div class="_container flex flex-col-reverse md:flex-row items-start max-w-[1200px] md:pt-[207px] pt-[110px] md:pb-[225px] pb-0 static">
            <div class="md:w-1/2">
                <h1 class="ff-poppins md:text-[74px] text-[34px] text-center md:text-left font-bold text-white leading-tight">
                    Access the <span class="text-[#C25FFF] font-bold">Quantum Multiverse</span>
                </h1>
                <p class="text-gray ff-poppins font-medium text-center md:text-left mt-1 tracking-[0.5px] mb-6 md:leading-[2.05] leading-normal opacity-[0.7] max-w-[370px]">Manifest your heart’s desires into reality. Feel your inner power and live your dream life.</p>

                <div class="flex items-center justify-between max-w-[430px]">
                    <a class="max-w-[202px] mr-[14px]" v-bind:href="left.buttons.first.url">
                        <img v-bind:src="left.buttons.first.img_url" alt="">
                    </a>

                    <a class="max-w-[202px]" v-bind:href="left.buttons.second.url">
                        <img v-bind:src="left.buttons.second.img_url" alt="">
                    </a>
                </div>
            </div>
            <div class="w-[calc(50%+65px)] md:absolute right-0 mx-auto transform md:translate-y-[-14.6%] mb-4 md:mb-0">
                <img class="" v-bind:src="right.img_url" alt="">
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data(){
            return {
                left: {
                    
                    buttons: {
                        first: {
                            url: "#",
                            img_url: "src/assets/img/btn_2.png"
                        },
                        second: {
                            url: "#",
                            img_url: "src/assets/img/btn_1.png"
                        }
                    }
                },
                right: {
                    img_url: "src/assets/img/AccessQuantumMultiverse_img.png"
                }
            }
        },
        methods: {

        }
    }
</script>

<style scoped>
    .check_list_wrap {
        box-shadow: -1px -1px 3px -1px white;
    }
</style>