<template>
    <section class="px-5 md:pt-[121px] pt-[28px] md:pb-[109px] pb-[94px] ff-poppins">
        <h2 class="text-white md:text-[40px] text-[32px] md:leading-[1.2] leading-normal font-semibold md:mb-[33px] mb-[44px] max-w-[738px] mx-auto text-center">{{ title }}</h2>
        <a class="block py-2.5 border-2 border-[#246BFD] text-white bg-[#246BFD] hover:bg-transparent max-w-[327px] rounded-full text-center mx-auto transition duration-500" v-bind:href="link.url">{{ link.caption }}</a>
    </section>
</template>

<script>
    export default {
        data(){
            return {
                title: "Unlock the full potential of the Quantum Multiverse",
                link: {
                    caption: "Get premium",
                    url: "#"
                }
            }
        }
    }
</script>