<template>
    <section class="px-4 ff-poppins bg-[url('src/assets/img/download_app_bg.png')] bg-cover md:pt-[134px] pt-[72px] pb-[113px] overflow-hidden">
        <div class="flex flex-col md:flex-row items-center justify-between static mx-auto max-w-[1230px]">
            <div class="md:w-[calc(50%+150px)] w-[80%] transform translate-y-[-1.2%] md:absolute left-0">
                <img class="w-full md:block hidden" v-bind:src="left_img_url" alt="">
                <img class="w-full block md:hidden" v-bind:src="left_img_url_mob" alt="">
            </div>

            <div class="md:w-1/2 ml-auto md:mr-0 mr-auto max-w-[600px]">
                <h2 class="md:block hidden text-white font-semibold md:text-[40px] text-[32px] md:leading-[1.2] leading-normal mb-5 md:mt-0 -mt-1.5">{{ title }}</h2>
                <h2 class="block md:hidden text-white font-semibold md:text-[40px] text-[32px] md:leading-[1.2] leading-normal mb-2 md:mt-0 -mt-1.5">{{ title_mob }}</h2>
                <p class="md:block hidden font-medium text-gray opacity-80 leading-[1.62] mb-[49px]">{{ text }}</p>
                <p class="block md:hidden font-medium text-gray opacity-80 leading-[1.62] md:mb-[49px] mb-[53px]">{{ text_mob }}</p>

                <div class="md:block hidden">
                    <h3 class="text-white text-xl leading-[1.3] font-bold mb-[15px]">{{ text_blocks.first.title }}</h3>
                    <p class="text-gray text-sm leading-[1.86] mb-[47px] max-w-[380px]">{{ text_blocks.first.text }}</p>

                    <h3 class="text-white text-xl leading-[1.3] font-bold mb-[15px]">{{ text_blocks.second.title }}</h3>
                    <p class="text-gray text-sm leading-[1.86] mb-[81px] max-w-[380px]">{{ text_blocks.second.text }}</p>
                </div>

                <div class="block md:hidden">
                    <h3 class="text-white md:text-xl text-lg leading-[1.3] font-bold mb-[15px]">{{ text_blocks_mob.first.title }}</h3>
                    <p class="text-gray text-sm leading-[1.86] mb-[38px] max-w-[380px]">{{ text_blocks_mob.first.text }}</p>

                    <h3 class="text-white md:text-xl text-lg leading-[1.3] font-bold mb-[15px]">{{ text_blocks_mob.second.title }}</h3>
                    <p class="text-gray text-sm leading-[1.86] mb-[40px] max-w-[380px]">{{ text_blocks_mob.second.text }}</p>
                </div>

                <div class="flex flex-col md:flex-row items-center justify-between max-w-[426px] w-full">
                    <a class="md:max-w-[48%] w-full mb-7 md:mb-0" v-bind:href="buttons.first.url">
                        <img class="md:block hidden" v-bind:src="buttons.first.img_url" alt="">
                        <img class="block md:hidden" v-bind:src="buttons.first.img_url_mob" alt="">
                    </a>

                    <a class="md:max-w-[48%] w-full" v-bind:href="buttons.second.url">
                        <img class="md:block hidden" v-bind:src="buttons.second.img_url" alt="">
                        <img class="block md:hidden" v-bind:src="buttons.second.img_url_mob" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data(){
            return {
                left_img_url: "src/assets/img/download_app_img.png",
                left_img_url_mob: "src/assets/img/download_app_img_mob.png",
                
                title: "Let the law of attraction work for you. Download the app.",
                title_mob: "Easy to manage all content by apptop",
                text: "Everything already excists in the Quantum Multiverse. Allign yourself with your true potential and see that your dreams will become reality.",
                text_mob: "An enim nullam tempor gravida donec enim  luctus risusd diam eget risus varius blandit sit amet.",

                text_blocks: {
                    first: {
                        title: "Experience the law of attraction",
                        text: "The science behind: ‘’Luck and attraction’’. Tap into unlimited potential and experience the true magnificence that awaits you."
                    },
                    second: {
                        title: "Reprogram your subconscious mind",
                        text: "Experience our unique sound and video activiations, created by world renowned expert: ‘’Janosh Stoffers’’"
                    },
                },

                text_blocks_mob: {
                    first: {
                        title: "Feature Integration",
                        text: "We believe that designing products and services in close  is the only way to have a real impact on their business."
                    },
                    second: {
                        title: "Multiple Discussions",
                        text: "We believe that designing products and  have aclients is the only way to have a real impact on their business."
                    },
                },

                buttons: {
                    first: {
                        url: "#",
                        img_url: "src/assets/img/btn_2.png",
                        img_url_mob: "src/assets/img/btn_2_mob.svg"
                    },
                    second: {
                        url: "#",
                        img_url: "src/assets/img/btn_1.png",
                        img_url_mob: "src/assets/img/btn_1_mob.svg"
                    }
                }
            }
        }
    }
</script>