<script setup>
import ExpiriencesItem from '@/components/ExpiriencesItem.vue'
</script>
<template>
    <section class="md:pt-[113px] pt-[71px] pb-[152px] bg-[url('src/assets/img/expiriences_bg.png')] bg-cover">
        <h2 class="text-[32px] md:text-[40px] font-semibold md:leading-tight leading-normal text-white text-center ff-poppins mb-3.5">{{ title }}</h2>
        <p class="text-gray font-medium text-center opacity-[0.7]">{{ subtitle }}</p>

        <div class="flex flex-col md:flex-row items-start justify-between md:mt-[67px] mt-[82px] mx-auto max-w-[1200px]">
            <div v-for="item in items" :key="item.title" class="max-w-[400px] px-[15px] ff-poppins mb-[25px] md:mb-0 last:mb-0 md:mx-0 mx-auto">
                <ExpiriencesItem :data="item"/>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data(){
            return {
                title: "Live changing experiences...",
                subtitle: "See the power of QuantumLife",
                items: [
                    {
                        text: "I always attracted and desired the people that didn’t really fit me. Once I worked through my personal blockages with Quantum Life, I started to attract beautiful relationships. I feel so alive, and cannot wait to see what comes next!",
                        short_text: "Love • Connection",
                        author: {
                            img_url: "src/assets/img/expiriences_img_1.png",
                            name: "Joan Tjioe",
                            position: "Life coach"
                        }
                    },
                    {
                        text: "It’s incredible to see that I was blocking myself from getting what I wanted! QuantumLife helped me to get the dream job I always wanted, but never really believed I could get. Opportunities keep coming to me, and I only have to take them!",
                        short_text: "Wealth • Succes",
                        author: {
                            img_url: "src/assets/img/expiriences_img_2.png",
                            name: "David van Barneveld",
                            position: "Healthcare worker"
                        }
                    },
                    {
                        text: "I finally no longer live by fear! This app gave me the confidence to unlock the power inside of myself and really take charge. Once I stepped into my power, synchronicities were falling through the roof. Super excited for all that’s left to come!",
                        short_text: "Inner power",
                        author: {
                            img_url: "src/assets/img/expiriences_img_3.png",
                            name: "Veerle de Jong",
                            position: "Entrepreneur"
                        }
                    }
                ]
            }
        }
    }
</script>