<script setup>
import TextField from '@/components/TextField.vue'
import RadioFieldButton from '@/components/RadioFieldButton.vue'
import RadioFieldWithImg from '@/components/RadioFieldWithImg.vue'
import CheckList from '@/components/CheckList.vue'
</script>
<template>
    <section class="bg-no-repeat bg-cover bg-[url('./src/assets/img/fs_bg.png')] bg-right">
        <div class="_container flex items-start max-w-[1310px] md:pt-[116px] md:pb-[116px] pt-[138px]">
            <div class="w-full md:w-1/2">
                <h1 class="ff-poppins text-[40px] md:text-[50px] lg:text-[74px] md:font-bold font-semibold text-white leading-tight md:text-left text-center">
                    Get <span class="text-[#C25FFF] md:font-bold font-semibold">Unlimited</span><br>
                    Access <span class="text-gradient md:font-bold font-semibold">-50%</span>
                </h1>
                <p class="ff-poppins text-[30px] lg:text-[34px] text-white md:mt-3 mt-0.5 md:text-left text-center md:normal-case lowercase">Valid Until: 26-08 </p>
                <p class="text-darkgray ff-poppins font-medium mt-5 md:mb-12 mb-8 md:text-left text-center">Unlock the true potential of the quantum universe.</p>

                <div class="bg-[rgba(255,255,255,0.15)] rounded-[20px] max-w-[581px] lg:mt-[123px] check_list_wrap md:px-10 px-8 lg:py-[67px] md:py-[34px] py-[47px] mt-0 block md:hidden">
                    <CheckList :data="check_list" />
                </div>

                <form action="#" class="md:mt-0 mt-[98px]">
                    <div class="flex justify-between items-stretch flex-wrap max-w-[372px]">
                        <TextField 
                            class="w-1/2 max-w-[163px]"
                            v-model="form.first_name.value" 
                            :val="form.first_name.value"
                            :placeholder="form.first_name.placeholder"
                            :label="form.first_name.label"
                        />
                        <TextField 
                            class="w-1/2 max-w-[163px]"
                            v-model="form.last_name.value" 
                            :val="form.last_name.value"
                            :placeholder="form.last_name.placeholder"
                            :label="form.last_name.label"
                        />
                        <TextField 
                            class="w-full mt-6"
                            v-model="form.email.value" 
                            :val="form.email.value"
                            :placeholder="form.email.placeholder"
                            :label="form.email.label"
                            :type="form.email.type"
                        />
                    </div>
                    <div class="flex flex-col sm:flex-row justify-between items-stretch mt-[52px] md:mr-[-248px] lg:mr-[-42px]">
                        <RadioFieldButton
                            class="w-full sm:w-1/2 min-w-[290px] sm:mr-[28px]"
                            :label="form.plan.options.first.label"
                            :additional_text="form.plan.options.first.additional_text"
                            :val="form.plan.options.first.value"
                            :name="'plan'"
                            v-model="form.plan.value"
                            :init_val="form.plan.value"
                        />
                        <RadioFieldButton
                            class="w-full sm:w-1/2 min-w-[290px]"
                            :label="form.plan.options.second.label"
                            :val="form.plan.options.second.value"
                            :name="'plan'"
                            v-model="form.plan.value"
                            :init_val="form.plan.value"
                        />
                    </div>
                    <p class="text-sm text-[#246BFD] md:mt-2 mt-[-5px]">*This is a discounted price</p>
                    <p class="text-darkgray uppercase text-[10px] font-bold mt-6 tracking-[0.5px]">Choose Payment Method</p>
                    <div class="flex flex-col md:flex-row justify-between items-stretch max-w-[432px] md:mt-5 mt-6">
                        <RadioFieldWithImg
                            v-for="item in form.payment_method.options"
                            :key="item.value"
                            class="w-full md:w-[calc(50%-14px)] mb-5 md:mb-0 last:mb-0"
                            :label="item.label"
                            :val="item.value"
                            :img_url="item.img_url"
                            :name="'payment_method'"
                            v-model="form.payment_method.value"
                            :init_val="form.payment_method.value"
                        />
                    </div>
                    <input class="block text-center text-white text-bold border border-[#246BFD] bg-[#246BFD] py-2.5 w-full md:max-w-[327px] max-w-[375px] rounded-full mt-10 md:mt-[30px] hover:bg-transparent transition duration-500 cursor-pointer" type="submit" v-bind:value="form.submit_caption">
                </form>
            </div>
            <div class="w-1/2 bg-[rgba(255,255,255,0.15)] rounded-[20px] max-w-[581px] ml-7 lg:mt-[123px] check_list_wrap px-10 lg:py-[67px] py-[34px] mt-0 hidden md:block">
                <CheckList :data="check_list" />
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data(){
            return {
                form: {
                    submit_caption: "Get premium",
                    first_name: {
                        label: "First name",
                        placeholder: "Remo",
                        value: "",
                    },
                    last_name: {
                        label: "Last name",
                        placeholder: "Remo",
                        value: ""
                    },
                    email: {
                        label: "Email",
                        placeholder: "removloet@gmail.com",
                        value: "",
                        type: "email"
                    },
                    plan: {
                        value: "first",
                        options: {
                            first: {
                                label: "$124.50 Lifetime",
                                additional_text: "Best value",
                                value: "first"
                            },
                            second: {
                                label: "$49.95 Annual ($4.16/month)",
                                value: "second"
                            }
                        }
                    },
                    payment_method: {
                        value: "ideal",
                        options: [
                            {
                                img_url: "src/assets/img/ideal.png",
                                label: "Ideal",
                                value: "ideal"
                            },
                            {
                                img_url: "src/assets/img/paypal.svg",
                                label: "Paypal",
                                value: "paypal"
                            },
                            {
                                img_url: "src/assets/img/credit-card.svg",
                                label: "Credit Card",
                                value: "credit_card"
                            }
                        ]
                    }
                },

                check_list: [
                    "Unlimited Quantum Movies",
                    "Unlimited personalisation options",
                    "Exclusive content from world renowned experts",
                    "Early access to special events"
                ]
            }
        },
        methods: {
        }
    }
</script>

<style scoped>
    .check_list_wrap {
        box-shadow: -1px -1px 3px -1px white;
    }
</style>