<template>
    <section class="px-5 md:pt-[121px] pt-[60px] md:pb-[174px] pb-[80px] ff-poppins">
        <h2 class="text-white md:text-[40px] text-[32px] md:leading-[1.2] leading-normal font-semibold mb-[62px] max-w-[738px] mx-auto text-center">{{ title }}</h2>

        <form class="max-w-[535px] flex items-stretch justify-center mx-auto" action="#">
            <input
                v-bind:placeholder="form.placeholder" 
                type="email"
                required
                v-model="form.value"
                class="text-white text-sm ff-poppins bg-[#1B212A] border-0 py-2.5 leading-[1.71] pl-[30px] rounded-l-full w-full"
            >
            <input
                v-bind:value="form.submit_caption"
                type="submit" 
                class="block py-2.5 border-2 border-[#246BFD] text-white bg-[#246BFD] hover:bg-transparent max-w-[327px] rounded-r-full text-center mx-auto transition duration-500 md:w-full w-[60%] max-w-[170px]"
            >
        </form>
    </section>
</template>

<script>
    export default {
        data(){
            return {
                title: "Get access to untapped knowledge and exclusive insights",
                form: {
                    value: "",
                    placeholder: "Enter your email",
                    submit_caption: "Subscribe"
                }
            }
        }
    }
</script>