<script setup>
import ManifestItem from '@/components/ManifestItem.vue'
</script>
<template>
    <section class="px-4 md:pt-[126px] pt-[150px] md:pb-[137px] pb-[86px]">
        <h2 class="text-[32px] md:text-[40px] font-semibold md:leading-tight leading-normal text-white text-center ff-poppins md:mb-3.5 mb-[15px]">{{ title }}</h2>
        <p class="text-gray font-medium text-center opacity-[0.7]">{{ subtitle }}</p>
        
        <div class="flex flex-col md:flex-row items-center justify-between max-w-[1120px] mx-auto md:mt-[86px] mt-[70px]">
            <div v-for="item in items" :key="item.title" class="md:w-1/3 w-full max-w-[322px] px-4 mb-[93px] last:mb-0 md:mb-0">
                <ManifestItem :data="item" />
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data(){
            return {
                title: "Manifest your dreams into reality",
                subtitle: "Dream bigger | Dream bolder | Dream better",
                items: [
                    {
                        img_url: "src/assets/img/manifest_img_1.png",
                        title: "Create your quantum movies",
                        text: "Everything that you want already excists in the quantum Multiverse. Allign to it and see it come alive."
                    },
                    {
                        img_url: "src/assets/img/manifest_img_2.png",
                        title: "Personalize to your desires",
                        text: "Your desires are unique to you. Personalize your quantum Movies so they’re exactly what YOU need."
                    },
                    {
                        img_url: "src/assets/img/manifest_img_3.png",
                        title: "Learn from the greatest minds",
                        text: "Skyrocket your personal growth with unique knowledge from international renowned experts."
                    }
                ]
            }
        }
    }
</script>