<script setup>
import CheckList from '@/components/CheckList.vue'
import TextField from '@/components/TextField.vue'
import RadioFieldButton from '@/components/RadioFieldButton.vue'
import RadioFieldWithImg from '@/components/RadioFieldWithImg.vue'
</script>

<template>
    <div class="fixed inset-0 bg-[rgba(19,21,28,0.67)] backdrop-blur-sm z-[9999] md:py-[7.847vw] h-screen md:px-10 overflow-auto" v-bind:class="{hidden: !is_show}">
        <div class="bg-[#1C1B24] border border-[#ffffff30] pt-[60px] md:px-10 px-[35px] pb-[42px] popup-bg-img mx-auto max-w-[983px] md:rounded-[14px]">
            
            <div 
                @click="toggleShow"
                class="close_btn cursor-pointer w-4 h-4 absolute right-[30px] top-[30px] flex items-center justify-center"
            ></div>

            <h2 class="ff-poppins text-white md:font-bold font-semibold md:text-[74px] text-[38px] max-w-[580px] leading-[1.25] mb-[13px] md:text-left text-center">Get <span class="text-[#C25FFF] font-bold">Unlimited</span> Access</h2>
            <p class="md:text-base text-xs ff-poppins text-darkgray font-medium opacity-[0.7] md:leading-[1.94] leading-[1.6] tracking-[0.5px] md:mb-4 mb-[28px] md:text-left text-center">Unlock the true poyential of the quantum universe.</p>
            <form action="#">
                <div class="flex flex-col-reverse md:flex-row items-start justify-between">
                    <div class="md:w-[calc(50%+60px)] md:mr-[-60px] w-full">
                        <CheckList class="tracking-[0.5px] mb-9" :data="check_list" size="small"/>
                        <div class="flex justify-between items-stretch flex-wrap md:max-w-[372px]">
                            <TextField 
                                class="w-[calc(48%)] md:max-w-[163px]"
                                v-model="form.first_name.value" 
                                :val="form.first_name.value"
                                :placeholder="form.first_name.placeholder"
                                :label="form.first_name.label"
                            />
                            <TextField 
                                class="w-[calc(48%)] md:max-w-[163px]"
                                v-model="form.last_name.value" 
                                :val="form.last_name.value"
                                :placeholder="form.last_name.placeholder"
                                :label="form.last_name.label"
                            />
                            <TextField 
                                class="w-full mt-6"
                                v-model="form.email.value" 
                                :val="form.email.value"
                                :placeholder="form.email.placeholder"
                                :label="form.email.label"
                                :type="form.email.type"
                            />
                        </div>
                    </div>
                    <div class="md:mr-[-42px] md:mb-[-20%]">
                        <img class="transform lg:translate-y-[-22%] md:translate-y-[-8%] w-[calc(100%+42px)]" src="src/assets/img/popup_img.png" alt="">
                    </div>
                </div>
                <div class="flex flex-col md:flex-row justify-between items-stretch md:mt-[29px] mt-[80px] max-w-[682px]">
                    <RadioFieldButton
                        class="md:w-[calc(50%-14px)] mb-3"
                        :label="form.plan.options.first.label"
                        :additional_text="form.plan.options.first.additional_text"
                        :val="form.plan.options.first.value"
                        :name="'plan'"
                        v-model="form.plan.value"
                        :init_val="form.plan.value"
                    />
                    <RadioFieldButton
                        class="md:w-[calc(50%-14px)]"
                        :label="form.plan.options.second.label"
                        :val="form.plan.options.second.value"
                        :name="'plan'"
                        v-model="form.plan.value"
                        :init_val="form.plan.value"
                    />
                    
                </div>
                <p class="text-darkgray uppercase text-[10px] font-bold mt-6 tracking-[0.5px]">Choose Payment Method</p>
                <div class="flex flex-col md:flex-row justify-between items-stretch max-w-[432px] mt-5">
                    <RadioFieldWithImg
                        v-for="item in form.payment_method.options"
                        :key="item.value"
                        class="md:w-[calc(50%-14px)] mb-[23px] md:mb-0 last:mb-0"
                        :label="item.label"
                        :val="item.value"
                        :img_url="item.img_url"
                        :name="'payment_method'"
                        v-model="form.payment_method.value"
                        :init_val="form.payment_method.value"
                    />
                </div>
                <input class="block text-center text-white text-bold border border-[#246BFD] bg-[#246BFD] py-2.5 w-full max-w-[327px] rounded-full md:mt-8 mt-[40px] hover:bg-transparent transition duration-500 cursor-pointer" type="submit" v-bind:value="form.submit_caption">
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                is_show: false,
                form: {
                    submit_caption: "Get premium",
                    first_name: {
                        label: "First name",
                        placeholder: "Remo",
                        value: "",
                    },
                    last_name: {
                        label: "Last name",
                        placeholder: "Remo",
                        value: ""
                    },
                    email: {
                        label: "Email",
                        placeholder: "removloet@gmail.com",
                        value: "",
                        type: "email"
                    },
                    plan: {
                        value: "first",
                        options: {
                            first: {
                                label: "$249.00 Lifetime",
                                value: "first"
                            },
                            second: {
                                label: "$69.95 Annual ($5.83/month)",
                                value: "second"
                            }
                        }
                    },
                    payment_method: {
                        value: "ideal",
                        options: [
                            {
                                img_url: "src/assets/img/ideal.png",
                                label: "Ideal",
                                value: "ideal"
                            },
                            {
                                img_url: "src/assets/img/paypal.svg",
                                label: "Paypal",
                                value: "paypal"
                            },
                            {
                                img_url: "src/assets/img/credit-card.svg",
                                label: "Credit Card",
                                value: "credit_card"
                            }
                        ]
                    }
                },

                check_list: [
                    "Unlimited Quantum Movies",
                    "Unlimited personalisation options",
                    "Exclusive content from world renowned experts",
                    "Early access to special events"
                ]
            }
        },
        methods: {
            toggleShow: function(){
                this.is_show = !this.is_show;
                if (this.is_show == true) {
                    document.getElementsByTagName('body')[0].style.overflow = 'hidden';
                } else {
                    document.getElementsByTagName('body')[0].style.overflow = 'auto';
                }
            }
        },
        mounted: function(){
            this.toggleShow();
        }
    }
</script>

<style scoped>
.close_btn:before,
.close_btn:after {
    content: '';
    position: absolute;
    width: 12.5px;
    background: #F9F6FD;
    height: 1px;
    transform: rotate(45deg);
}

.close_btn:after {
    transform: rotate(-45deg);
}
</style>