<template>

<section class="page-bg pt-20">
    <div class="px-5 bg-cover bg-left-top lg+:pt-[58px] md:pt-[46px] pt-[29px] lg+:pb-[156px] md:pb-[90px] pb-[50px]" style="background-image: url('src/assets/img/about_us_fs_bg.svg')">
        <div class="mx-auto lg+:max-w-[1170px] max-w-[932px] flex items-center justify-between md:flex-row flex-col-reverse lg+:pl-0 md:pl-8">
            <div class="md:py-8 pt-10 lg+:w-1/2 md:w-[55%] lg+:mb-10 lg+:mt-0 pl-32px lg+:pl-0">
                <h2 class="lg+:text-4xl+ text-[32px] font-semibold text-white lg+:mb-[18px] md:mb-1 mb-4 md:text-left text-center">{{ title }}</h2>
                <p class="text-gray opacity-80 mb-6 lg+:leading-[1.857] leading-[1.6] lg+:text-sm text-base tracking-[0.1px] md:mx-0 -mx-1">{{ text }}</p>
                <a class="rounded-full border-1 border-[#246BFD] bg-[#246BFD] text-white py-3 px-10 text-sm lg+:inline-block hidden" v-bind:href="link.url">{{ link.caption }}</a>
            </div>
            <div class="md:w-1/2 md:-mr-3 lg+:max-w-full max-w-[400px]">
                <img class="max-w-full block mx-auto md:transform-none transform scale-[1.1]" v-bind:src="img" alt="">
            </div>
        </div>
    </div>
</section>

</template>

<script>
    export default {
        data(){
            return {
                title: 'About Us',
                text: 'We help you to find where you’re blocking yourself from perfect wealth, health, succes, love, vision, inner power, spiritual growth and connection. Your quantum movies will be completely personalized so you can unlock your highest potential and attract what you really deserve.',
                link: {
                    caption: 'Try for free',
                    url: '#'
                },
                img: 'src/assets/img/about_us_fs.png'
            }
        }
    }
</script>