<script setup>
    import ContactForm from '@/components/ContactForm.vue';
</script>

<template>
    <section class="page-bg lg+:py-[89px] md:pt-[123px] pt-[22px] pb-[60px] px-5">
        <div class="md:flex lg+:max-w-[1170px] max-w-[964px] ml-auto mr-auto md:pl-12 lg+:pl-0">
            <div class="lg+:w-1/2 md:w-[45%] w-full md:pr-7 lg+:pr-0 lg+:pt-[70px] pt-[60px]">
                <h2 class="lg+:text-4xl+ text-[32px] text-white font-semibold lg+:mb-5 md:mb-1.5 mb-[17px] md:text-left text-center">{{ title }}</h2>
                <p class="text-gray opacity-80 leading-[1.7] font-medium max-w-[520px] tracking-[0.6px] md:ml-0 -ml-1">{{ text }}</p>
            </div>
            <div class="md:w-1/2 w-full md:mt-0 mt-[42px]">
                <div class="bg-[rgba(255,255,255,0.05)] shadow-[0px_-1px_3px_-1px_#C3C3C3] rounded-[20px] md:px-[28px] md:pt-[29px] md:pb-[34px] p-[30px_8px] max-w-[450px] ml-auto">
                    <ContactForm :form="form" />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data(){
            return {
                title: 'Contact Us',
                text: 'We’re always happy to personally assist you. Do you have any questions or remarks? Send us a message and we will come back to you!',
                form: {
                    name: {
                        label: 'Name',
                        placeholder: 'Enter Text'
                    },
                    email: {
                        label: 'Email',
                        placeholder: 'Enter Text'
                    },
                    comment: {
                        label: 'Comment',
                        placeholder: 'Enter Text'
                    }
                }
            }
        }
    }
</script>