<script setup>
import Accordeon from '@/components/Accordeon.vue'
</script>
<template>
    <section class="lg+:pt-[228px] md:pt-[188px] pt-[147px] lg+:pb-[193px] pb-[68px] lg+:text-left text-center page-bg text-white bg-right-top bg-no-repeat bg-cover px-5" style="background-image: url('src/assets/img/home_fs_bg.svg');">
        <div class="lg+:max-w-[1172px] max-w-[868px] mx-auto">
            <h3 class="text-purple text-xl md:mb-5 mb-[14px] font-semibold">{{ sub_title }}</h3>
            <h2 class="lg+:text-4xl+ text-3xl font-semibold tracking-[1.1px] lg+:mb-2.5 md:mb-5 mb-4 md:px-0 px-5">{{ title }}</h2>
            <p class="font-medium leading-[1.7] tracking-[0.55px] lg+:max-w-[540px] max-w-[730px] lg+:mb-[82px] md:mb-[136px] mb-[33px] text-gray opacity-80 lg+:mx-0 mx-auto ">{{ text }}</p>
            <Accordeon class="px-1 text-left" :data="accordeon" />
        </div>
    </section>
</template>
<script>
    export default {
        data(){
            return {
                sub_title: "F.A.Q.",
                title: "Any question solved for you",
                text: "Find the answers to the most frequently asked questions below. Still cannot find an answer you’re looking for? Feel free to reach out to our support team and we will help you further!",
                accordeon: [
                    {
                        title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
                        text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venenatis adipiscing enim egestas leo semper fringilla viverra molestie. Ultricies arcu, condimentum ultrices dolor eleifend lobortis. Libero aliquet metus tincidunt feugiat vitae cras eu. Nibh facilisi in ornare vulputate integer quis dui tincidunt. "
                    },
                    {
                        title: "650+ different types of courses",
                        text: "With lots of unique blocks you can easily create a page without coding with Appmax"
                    },
                    {
                        title: "650+ different types of courses",
                        text: "With lots of unique blocks you can easily create a page without coding with Appmax"
                    },
                    {
                        title: "650+ different types of courses",
                        text: "With lots of unique blocks you can easily create a page without coding with Appmax"
                    },
                    {
                        title: "650+ different types of courses",
                        text: "With lots of unique blocks you can easily create a page without coding with Appmax"
                    },
                    {
                        title: "650+ different types of courses",
                        text: "With lots of unique blocks you can easily create a page without coding with Appmax"
                    },
                ]
            }
        }
    }
</script>