<script setup>
import MemberItem from '@/components/MemberItem.vue'
</script>

<template>
<section class="page-bg -mt-px md:bg-contain bg-[length:100%_100%] bg-center bg-no-repeat lg+:pt-[74px] md:pt-[58px] pt-5 -mb-1 px-5 lg+:pb-0 pb-[52px]" style="background-image: url('src/assets/img/members_bg.png')">
    <div class="lg+:max-w-[1170px] max-w-[870px] mx-auto">
        <h2 class="lg+:text-4xl+ text-[32px] text-white font-semibold text-center md:mb-8 mb-10">{{ title }}</h2>
        <div class="flex items-stretch flex-wrap justify-between md:px-0 px-1">
            <MemberItem class="md:w-[31.7%] w-full max-w-[450px lg+:mb-7 md:mb-8 mb-[21px]" v-for="item in items" :data="item" />
            <div class="md:w-[31.7%] w-full max-w-[450px]"></div>
        </div>
    </div>
</section>
</template>

<script>
    export default {
        data(){
            return {
                title: 'Founding members',
                items: [
                    {
                        img: 'src/assets/img/member_1.png',
                        position: 'Founder',
                        name: 'Dr. Roy Martina',
                        in: '#'
                    },
                    {
                        img: 'src/assets/img/member_1.png',
                        position: 'Founder',
                        name: 'Dr. Roy Martina',
                        in: '#'
                    },
                    {
                        img: 'src/assets/img/member_1.png',
                        position: 'Founder',
                        name: 'Dr. Roy Martina',
                        in: '#'
                    },
                    {
                        img: 'src/assets/img/member_1.png',
                        position: 'Founder',
                        name: 'Dr. Roy Martina',
                        in: '#'
                    },
                    {
                        img: 'src/assets/img/member_1.png',
                        position: 'Founder',
                        name: 'Dr. Roy Martina',
                        in: '#'
                    },
                    {
                        img: 'src/assets/img/member_1.png',
                        position: 'Founder',
                        name: 'Dr. Roy Martina',
                        in: '#'
                    },
                    {
                        img: 'src/assets/img/member_1.png',
                        position: 'Founder',
                        name: 'Dr. Roy Martina',
                        in: '#'
                    },
                    {
                        img: 'src/assets/img/member_1.png',
                        position: 'Founder',
                        name: 'Dr. Roy Martina',
                        in: '#'
                    },
                    {
                        img: 'src/assets/img/member_1.png',
                        position: 'Founder',
                        name: 'Dr. Roy Martina',
                        in: '#'
                    },
                    {
                        img: 'src/assets/img/member_1.png',
                        position: 'Founder',
                        name: 'Dr. Roy Martina',
                        in: '#'
                    },
                    {
                        img: 'src/assets/img/member_1.png',
                        position: 'Founder',
                        name: 'Dr. Roy Martina',
                        in: '#'
                    },
                ]
            }
        }
    }
</script>