<script setup>
    import MovieItem from '@/components/MovieItem.vue'
    import Popup from '@/components/Popup.vue'
    import TextField from '@/components/TextField.vue'
</script>

<template>
    <section class="movies page-bg lg+:pt-[172px] pt-[108px] pb-[29px] bg-cover bg-top px-5 md:-mt-0.5 mt-[-110px]" style="background-image: url('src/assets/img/movies-bg.svg')">
        <div class="flex items-end flex-wrap-reverse">
            <div class="lg+:w-1/2 lg+:max-w-[586px] max-w-[870px] lg+:pr-4 lg+:ml-auto lg+:mr-0 mx-auto pt-[3px] w-full lg+:columns-1 md:columns-2">
                <MovieItem class="break-inside-avoid" v-for="(movie, key) in movies" :data="movie" />
            </div>
            <div class="lg+:w-1/2 lg+:pl-[45px] w-full text-center lg+:text-left lg+:mb-0 md:mb-20 mb-6">
                <h2 class="text-4xl+ font-semibold text-white max-w-[550px] mx-auto lg+:mx-0">{{ title }}</h2>
                <p class="text-gray font-medium max-w-[550px] tracking-[0.53px] md:mt-[18px] mt-5 md:leading-[1.7] leading-[1.75] mx-auto lg+:mx-0 px-2 md:px-0">{{ text }}</p>
                <a 
                    @click.prevent="$refs.popup_improvement.switch()"
                    class="max-w-[392px] lg+:mx-0 mx-auto bg-btn-gradien-border rounded-full block p-[1px] overflow-hidden mb-4 md:mb-0 text-center mt-10" v-bind:href="link.url"
                >
                    <span class="w-full h-full block page-bg text-white rounded-full py-4 px-8 transition duration-500 hover:bg-white hover:text-[#202a36] font-bold">{{ link.caption }}</span>
                </a>
            </div>
        </div>

        <Popup content_class="w-full max-w-[788px] min-h-[500px] md:text-left text-center" ref="popup_improvement">
            <h3 class="text-lg font-semibold text-white">{{ popup.title }}</h3>
            <p class="text-darkgray text-xs leading-[1.6] font-medium ff-inter mt-3 mb-8 max-w-[343px] md:mx-0 mx-auto">{{ popup.text }}</p>

            <form action="#" class="text-left md:mx-0 -mx-3">
                <TextField 
                    class="mb-3"
                    v-model="popup.form.title.value" 
                    :val="popup.form.title.value"
                    :placeholder="popup.form.title.placeholder"
                    :label="popup.form.title.label"
                    type="text"
                />

                <TextField 
                    class="mb-3"
                    v-model="popup.form.report.value" 
                    :val="popup.form.report.value"
                    :placeholder="popup.form.report.placeholder"
                    :label="popup.form.report.label"
                    type="textarea"
                />

                <input class="bg-[#246BFD] p-[14px] rounded-full w-full text-center text-white ff-inter font-bold text-sm max-w-[327px] mt-8 cursor-pointer md:mx-0 mx-auto block" type="submit" v-bind:value="popup.form.submit">
            </form>
        </Popup>
    </section>
</template>

<script>
    export default {
        data(){
            return {
                title: "Requested new features of our community",
                text: "We find it important to build together with our beloved community. Check submitted improvements and upvote the onces you like. Don’t see the feature submitted you want? Use the: ‘’Submit an improvement’’ button to upload your own request.",
                link: {
                    caption: "Submit an Improvement",
                    url: "#"
                },

                movies: [
                    {
                        img: 'src/assets/img/movie.png',
                        title: 'Making Quantum Movies available offline.',
                        name: '@removloet',
                        date: "Aug 10, 2022", 
                        text: 'I would love that the Quantum Movies can be downloadable. That way I can use it on my phone while flying but also can turn off the Wi-Fi just before I got to bed.',
                        upvotes: '12 upvotes',
                        status: 'upvoted'
                    },
                    {
                        img: 'src/assets/img/movie.png',
                        title: 'Creating family accounts so my entire family can go on my account.',
                        name: '@username',
                        date: "Aug 10, 2022", 
                        text: 'I would love that the Quantum Movies can be downloadable. That way I can use it on my phone while flying but also can turn off the Wi-Fi just before I got to bed.',
                        upvotes: '12 upvotes',
                        status: 'proggress'
                    },
                    {
                        img: 'src/assets/img/movie.png',
                        title: 'Childeren accounts would be great ot have.',
                        name: '@username',
                        date: "Aug 10, 2022", 
                        text: 'I would love that the Quantum Movies can be downloadable. That way I can use it on my phone while flying but also can turn off the Wi-Fi just before I got to bed.',
                        upvotes: '12 upvotes',
                        status: 'default'
                    },
                    {
                        img: 'src/assets/img/movie.png',
                        title: 'Lorem ipsum dolor sit',
                        name: '@username',
                        date: "Aug 10, 2022", 
                        text: 'I would love that the Quantum Movies can be downloadable. That way I can use it on my phone while flying but also can turn off the Wi-Fi just before I got to bed.',
                        upvotes: '12 upvotes',
                        status: 'default'
                    },
                    {
                        img: 'src/assets/img/movie.png',
                        title: 'Lorem ipsum dolor sit',
                        name: '@username',
                        date: "Aug 10, 2022", 
                        text: 'I would love that the Quantum Movies can be downloadable. That way I can use it on my phone while flying but also can turn off the Wi-Fi just before I got to bed.',
                        upvotes: '12 upvotes',
                        status: 'default'
                    },
                    {
                        img: 'src/assets/img/movie.png',
                        title: 'Lorem ipsum dolor sit',
                        name: '@username',
                        date: "Aug 10, 2022", 
                        text: 'I would love that the Quantum Movies can be downloadable. That way I can use it on my phone while flying but also can turn off the Wi-Fi just before I got to bed.',
                        upvotes: '12 upvotes',
                        status: 'default'
                    },
                    {
                        img: 'src/assets/img/movie.png',
                        title: 'Lorem ipsum dolor sit',
                        name: '@username',
                        date: "Aug 10, 2022", 
                        text: 'I would love that the Quantum Movies can be downloadable. That way I can use it on my phone while flying but also can turn off the Wi-Fi just before I got to bed.',
                        upvotes: '12 upvotes',
                        status: 'default'
                    },
                    {
                        img: 'src/assets/img/movie.png',
                        title: 'Lorem ipsum dolor sit',
                        name: '@username',
                        date: "Aug 10, 2022", 
                        text: 'I would love that the Quantum Movies can be downloadable. That way I can use it on my phone while flying but also can turn off the Wi-Fi just before I got to bed.',
                        upvotes: '12 upvotes',
                        status: 'default'
                    },
                    {
                        img: 'src/assets/img/movie.png',
                        title: 'Lorem ipsum dolor sit',
                        name: '@username',
                        date: "Aug 10, 2022", 
                        text: 'I would love that the Quantum Movies can be downloadable. That way I can use it on my phone while flying but also can turn off the Wi-Fi just before I got to bed.',
                        upvotes: '12 upvotes',
                        status: 'default'
                    },
                    {
                        img: 'src/assets/img/movie.png',
                        title: 'Lorem ipsum dolor sit',
                        name: '@username',
                        date: "Aug 10, 2022", 
                        text: 'I would love that the Quantum Movies can be downloadable. That way I can use it on my phone while flying but also can turn off the Wi-Fi just before I got to bed.',
                        upvotes: '12 upvotes',
                        status: 'default'
                    },
                ],

                popup: {
                    title: 'Submit an Improvement',
                    text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat, id ultrices',

                    form: {
                        title: {
                            value: '',
                            label: 'Title',
                            placeholder: 'Offline Movies'
                        },
                        report: {
                            value: '',
                            label: 'Offline Movies',
                            placeholder: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet luctus elementum tristique et ultricies. Quis massa, faucibus semper massa.'
                        },
                        submit: 'Submit'
                    }
                }
            }
        }
    }
</script>

<style scoped>
    @media(max-width: 768px) {
        .movies {
            position: relative;
        }

        .movies:before {
            position: absolute;
            content: '';
            height: 100px;
            width: 100%;
            right: 0;
            top: 0;
            background: linear-gradient(to bottom, #181A20, #1f2631);
        }
    }
</style>