<template>

<section class="page-bg -mt-px py-[60px] px-5 min-w-[375px] -mb-px">
    <div class="max-w-[1170px] text-center mx-auto">
        <h2 class="lg+:text-4xl+ text-[32px] leading-normal lg+:leading-[1.2] text-white font-semibold mb-4">{{ title }}</h2>
        <p class="text-gray opacity-70 font-medium ff-inter max-w-[700px] sm:mx-auto leading-[1.5] mb-10 mx-[-2px]">{{ text }}</p>
        
        <div class="tiers">
            <div class="_1 md:mb-10 mb-[81px]">
                <h3 class="text-center font-bold text-xl opacity-80 mb-5 text-white max-w-[200px] mx-auto leading-tight">{{ tier_1.title }}</h3>
                <img class="md:w-[174px] md:h-[174px] w-[124px] h-[124px] block mx-auto" v-bind:src="tier_1.img" alt="">
            </div>
            <div class="_2 md:max-w-[590px] max-w-[335px] mx-auto md:mb-10 mb-[58px]">
                <h3 class="text-center font-bold text-xl opacity-80 mx-auto mb-3 text-white">{{ tier_2.title }}</h3>
                <p class="text-center text-sm text-gray opacity-80 mb-5">{{ tier_2.text }}</p>
                <div class="images flex items-stretch justify-between">
                    <div class="md:w-[134px] md:h-[134px] w-[92px] h-[92px]" v-for="img in tier_2.images">
                        <img class="w-full h-full rounded-full" v-bind:src="img" alt="">
                    </div>
                </div>
            </div>
            <div class="_3 mx-auto md:max-w-[666px] max-w-[335px]">
                <h3 class="text-center font-bold text-xl opacity-80 mx-auto mb-3 text-white">{{ tier_3.title }}</h3>
                <p class="text-gray opacity-80 text-sm md:mb-10 mb-[98px]">{{ tier_3.text }}</p>
                <div class="images flex items-stretch justify-between">
                    <div class="w-[58px] h-[58px]" v-for="img in tier_3.images">
                        <img class="w-full h-full rounded-full" v-bind:src="img" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</template>

<script>
    export default {
        data(){
            return {
                title: '3-tier affiliate program',
                text: 'Make passive and recurring monthly income without any hassle. We reward you for all people that directly or indirectly subscribe or buy courses.',
                tier_1: {
                    title: 'Your direct affiliates (20%)',
                    img: 'src/assets/img/tier_1.png'
                },
                tier_2: {
                    title: '2nd tier  (50%)',
                    text: 'From the earnings of your direct affiliates',
                    images: [
                        'src/assets/img/tier_2_1.png',
                        'src/assets/img/tier_2_2.png',
                        'src/assets/img/tier_2_3.png',
                    ]
                },
                tier_3: {
                    title: '3nd tier  (75%)',
                    text: 'From the earnings of your direct affiliates',
                    images: [
                        'src/assets/img/tier_2_1.png',
                        'src/assets/img/tier_2_2.png',
                        'src/assets/img/tier_2_3.png',
                        'src/assets/img/tier_2_1.png',
                        'src/assets/img/tier_2_2.png',
                        'src/assets/img/tier_2_3.png',
                        'src/assets/img/tier_2_1.png',
                    ]
                }
            }
        }
    }
</script>

<style scoped>
    .tiers {
        width: 100%;
    }

    .tiers .images > div {
        position: relative;
    }

    .tiers .images > div::before {
        content: '';
        bottom: 100%;
        left: 50%;
        background: #C3C3C3;
        opacity: .2;
        width: 1px;
        transform-origin: left bottom;
        position: absolute;
    }

    .tiers ._2 .images > div:nth-child(1):before {
        height: 260px;
        transform: rotate(62deg);
    }

    .tiers ._2 .images > div:nth-child(2):before {
        height: 122px;
    }
    
    .tiers ._2 .images > div:nth-child(3):before {
        height: 260px;
        transform: rotate(-62deg);
    }



    .tiers ._3 .images > div:nth-child(4) {
        margin: 0 70px;
    } 

    .tiers ._3 .images > div:nth-child(1):before,
    .tiers ._3 .images > div:nth-child(5):before {
        height: 160px;
        transform: rotate(29deg);
    }

    .tiers ._3 .images > div:nth-child(2):before,
    .tiers ._3 .images > div:nth-child(4):before,
    .tiers ._3 .images > div:nth-child(6):before {
        height: 138px;
    }
    
    .tiers ._3 .images > div:nth-child(3):before,
    .tiers ._3 .images > div:nth-child(7):before {
        height: 160px;
        transform: rotate(-29deg);
    }

    @media (max-width: 767.98px) {
        .tiers ._2 .images > div:nth-child(1),
        .tiers ._3 .images > div:nth-child(2) {
            margin-left: -5px;
        }

        .tiers ._2 .images > div:nth-child(3),
        .tiers ._3 .images > div:nth-child(6) {
            margin-right: -5px;
        }

        .tiers ._2 .images > div:nth-child(1):before {
            height: 206px;
            transform: rotate(38deg);
        }

        .tiers ._2 .images > div:nth-child(2):before {
            height: 162px;
        }
        
        .tiers ._2 .images > div:nth-child(3):before {
            height: 206px;
            transform: rotate(-38deg);
        }


        .tiers ._3 .images > div:nth-child(1),
        .tiers ._3 .images > div:nth-child(7) {
            display: none;
        }

        .tiers ._3 .images > div:nth-child(4) {
            margin: 0;
        }

        .tiers ._3 .images > div[data-v-230a5605]:nth-child(2):before {
            height: 218px;
            transform: rotate(4deg);
        }

        .tiers ._3 .images > div[data-v-230a5605]:nth-child(3):before {
            height: 222px;
            transform: rotate(-15deg);
        }

        .tiers ._3 .images > div[data-v-230a5605]:nth-child(4):before {
            height: 216px;
        }

        .tiers ._3 .images > div[data-v-230a5605]:nth-child(5):before {
            height: 222px;
            transform: rotate(15deg);
        }

        .tiers ._3 .images > div[data-v-230a5605]:nth-child(6):before {
            height: 218px;
            transform: rotate(-4deg);
        }

    }

</style>