<template>
<section class="page-bg bg-left-top bg-cover lg+:pt-[148px] md:pt-[100px] pt-[132px]">
    <div class="bg-right-top bg-cover" style="background-image: url('src/assets/img/referal_access_link_bg.svg')">
        <div class="mx-auto flex flex-col-reverse md:flex-row items-center justify-between lg+:pl-[135px] md:pl-[122px] pl-4 pr-4 md:pr-0">
            <div class="md:w-[41%] md:pr-6 md:mb-20 mb-[100px] md:py-5 pt-2.5">
                <h2 class="lg+:text-4xl+ text-[32px] text-white font-semibold md:mb-4 mb-1.5 leading-[1.55] md:leading-[1.2] md:pr-0 pr-6">{{ title }}</h2>
                <p class="text-gray opacity-80 md:mb-5 mb-3.5 font-medium leading-[1.6] traking-[0.1px]">{{ text }}</p>
                <div class="flex flex-wrap items-stretch justify-between max-w-[426px]">

                    <a class="md:max-w-[49%] w-full max-w-[345px] md:mb-0 mb-[28px] mx-auto md:mx-0" v-bind:href="buttons.apple.url">
                        <img class="max-w-full md:block hidden" v-bind:src="buttons.apple.img" alt="">
                        <img class="max-w-full block md:hidden" v-bind:src="buttons.apple.img_mob" alt="">
                    </a>
                    <a class="md:max-w-[49%] w-full max-w-[345px] mx-auto md:mx-0" v-bind:href="buttons.gplay.url">
                        <img class="max-w-full md:block hidden" v-bind:src="buttons.gplay.img" alt="">
                        <img class="max-w-full block md:hidden" v-bind:src="buttons.gplay.img_mob" alt="">
                    </a>

                </div>
            </div>
            <div class="md:w-[59%] -mx-4 md:mx-0">
                <img class="min-w-[calc(100%+39px)] ml-[-39px]" v-bind:src="img" alt="">
            </div>
        </div>
    </div>
</section>
</template>

<script>
    export default {
        data(){
            return {
                title: 'Access your referral link',
                text: 'Download our app, sign-up and start earning. Get immediate access to your personal referral link. You have a 24/7 overview of all your direct and indirect referrals and payouts.',
                buttons: {
                    apple: {
                        url: '#',
                        img:'src/assets/img/btn_2.png',
                        img_mob:'src/assets/img/btn_2_mob.svg'
                    },
                    gplay: {
                        url: '#',
                        img: 'src/assets/img/btn_1.png',
                        img_mob: 'src/assets/img/btn_1_mob.svg'
                    }
                },
                img: 'src/assets/img/referal_access_link.png'
            }
        }
    }
</script>