<template>
<section class="page-bg bg-right-top bg-cover pt-[81px]">
    <div class="bg-right-top bg-cover" style="background-image: url('src/assets/img/referal_fs_bg.svg')">
        <div class="max-w-[1306px] mx-auto flex md:flex-row flex-col items-start justify-between md:pt-[42px] pt-[39px] lg+:pt-0">
            <div class="lg+:w-1/2 md:w-[calc(50%+21px)] w-full lg+:mt-[200px] md:mt-[158px] md:pr-6 lg+:pl-[69px] md:pl-[7.6%] lg+:max-w-[520px] md:mr-[-21px] lg+:mr-0 px-[15px] md:text-left text-center">
                <h2 class="text-4xl+ text-white font-semibold md:mb-6 mb-[22px]">{{ title }}</h2>
                <p class="md:text-sm md:leading-[1.86] leading-normal text-gray opacity-80 md:mb-6 mb-[22px] md:px-0 px-5">{{ text }}</p>
                <div class="flex flex-wrap items-stretch justify-between">
                    <a class="md:max-w-[49%] w-full max-w-[345px] md:mb-0 mb-3 mx-auto md:mx-0" v-bind:href="buttons.apple.url">
                        <img class="max-w-full md:block hidden" v-bind:src="buttons.apple.img" alt="">
                        <img class="max-w-full block md:hidden" v-bind:src="buttons.apple.img_mob" alt="">
                    </a>
                    <a class="md:max-w-[49%] w-full max-w-[345px] mx-auto md:mx-0" v-bind:href="buttons.gplay.url">
                        <img class="max-w-full md:block hidden" v-bind:src="buttons.gplay.img" alt="">
                        <img class="max-w-full block md:hidden" v-bind:src="buttons.gplay.img_mob" alt="">
                    </a>
                </div>
            </div>
            <div class="lg+:w-[55%] md:w-[46.2%] w-[81%] lg+:bg-[center_50px] md:bg-[center_bottom] bg-[center_40px] lg+:min-h-[701px] md:min-h-[607px] min-h-[97.1vw] lg+:bg-cover md:bg-contain bg-cover lg+:max-w-[650px] bg-no-repeat mx-auto md:mx-0" style="background-image: url('src/assets/img/referal_fs.png')"></div>
        </div>
    </div>
</section>
</template>

<script>
    export default {
        data(){
            return {
                title: 'Maximize your follower’s potential',
                text: 'Become a partner, let your followers dreams become reality and earn commission via our 3-tier affiliate program.',
                buttons: {
                    apple: {
                        url: '#',
                        img:'src/assets/img/btn_2.png',
                        img_mob:'src/assets/img/btn_2_mob.svg'
                    },
                    gplay: {
                        url: '#',
                        img: 'src/assets/img/btn_1.png',
                        img_mob: 'src/assets/img/btn_1_mob.svg'
                    }
                },
                img: 'src/assets/img/referal_fs.svg'
            }
        }
    }
</script>