<script setup>
    import ContactForm from '@/components/ContactForm.vue';
</script>

<template>
    <section class="page-bg px-5 md:pt-[152px] pt-[30px]">

        <div class="md:hidden block text-center mb-[50px]">
            <h2 class="text-[32px] leading-normal text-white mb-[33px] font-semibold max-w-[400px] mx-auto px-4">{{ title }}</h2>
            <p class="text-sm text-[#C25FFF] lg+:mb-5 mb-4">
                <img class="align-middle inline-block w-6 h-6 mr-2.5" v-bind:src="alert.icon" alt="">
                <span>{{ alert.text }}</span>
            </p>
            <p class="text-gray opacity-80 text-xl font-bold">{{ text }}</p>
        </div>

        <div class="lg+:max-w-[1170px] max-w-[870px] md:mx-auto flex items-start justify-between bg-[rgba(255,255,255,0.05)] shadow-[0px_-1px_3px_-1px_#C3C3C3] rounded-[20px] md:py-[68px] lg+:pr-[104px] md:pr-[50px] lg+:pl-[70px] md:pl-[50px] -ml-0.5 -mr-2 px-[13px] py-[30px]">
            <div class="w-1/2 lg+:max-w-[500px] max-w-[340px] md:pr-5 mt-[30px] hidden md:block">
                <h2 class="lg+:text-4xl+ text-[32px] leading-[1.2] text-white lg+:mb-[52px] mb-[34px] font-semibold max-w-[400px]">{{ title }}</h2>
                <p class="text-sm text-[#C25FFF] lg+:mb-5 mb-4">
                    <img class="align-middle inline-block w-6 h-6 mr-2.5" v-bind:src="alert.icon" alt="">
                    <span>{{ alert.text }}</span>
                </p>
                <p class="text-gray opacity-80 text-xl font-bold">{{ text }}</p>
            </div>
            <div class="lg+:w-1/2 md:w-[51%] md:max-w-[394px] w-full max-w-full">
                <ContactForm :form="form" />
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data(){
            return {
                title: 'Contact Us about 3-tier affiliate program',
                alert: {
                    icon: 'src/assets/img/icon-info.svg',
                    text: 'Alert info'
                },
                text: 'Only people with 5000+ followers can apply.',
                
                form: {
                    name: {
                        label: 'Name',
                        placeholder: 'Enter Text'
                    },
                    email: {
                        label: 'Email',
                        placeholder: 'Enter Text'
                    },
                    comment: {
                        label: 'Comment',
                        placeholder: 'Enter Text'
                    }
                }
            }
        }
    }
</script>