<template>
    <section class="bg-[#181B24] md:pt-[120px] pt-[68px] lg+:pb-[87px] pb-[42px] overflow-hidden px-5">
        <div class="mx-auto text-center">
            <h2 class="text-4xl+ text-medium text-white font-semibold mb-2">{{ title }}</h2>
            <p class="text-gray ff-inter tracking-[0.6px]">{{ text }}</p>

            <div class="flex flex-wrap roadmap_list_wrap">
                <div class="roadmap_list">
                    <div class="roadmap_item" v-for="(item, key) in items"
                        v-bind:class="{last: item.is_active && items[key+1] == undefined || item.is_active && !items[key+1].is_active}"
                    >
                        <div class="marker" v-bind:class="{active: item.is_active, big: item.is_active && items[key+1] == undefined || item.is_active && !items[key+1].is_active}"><div class="line"></div></div>
                        <p class="opacity-80 md:text-xl text-base" v-bind:class="{'font-bold text-white': item.is_active, 'text-[#546175]': !item.is_active}">{{ item.date }}</p>
                        <p class="text text-gray opacity-[0.7] md:text-sm text-xs leading-[1.85]">{{ item.text }}</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
</template>

<script>
    export default {
        data(){
            return {
                title: "Roadmap",
                text: "Buidl together with you.",
                items: [
                    {
                        is_active: true,
                        date: 'Oct 1, 2022',
                        text: 'Making Quantum Movies available offline',
                    },
                    {
                        is_active: true,
                        date: 'Oct 20, 2022',
                        text: 'Deploying offline Quantum Movies feature',
                    },
                    {
                        is_active: false,
                        date: 'Oct 22, 2022',
                        text: 'Starting working on design of family accounts',
                    },
                    {
                        is_active: false,
                        date: 'Nov 15, 2022',
                        text: 'Family accounts deployment in iOS & Android',
                    },
                    {
                        is_active: false,
                        date: 'Nov 28 , 2022',
                        text: 'Building on 3D experience of the Quantum Movie',
                    },
                    {
                        is_active: false,
                        date: 'Dec 14, 2022',
                        text: 'Launching in Germany & Spain',
                    },
                    {
                        is_active: false,
                        date: 'Dec 29, 2022',
                        text: 'Launching 3D experience of Quantum Movie',
                    },
                ],
            }
        }
    }
</script>

<style scoped>
    .roadmap_list_wrap {
        height: 3px;
        position: relative;
        margin: 223px -20px;
    }

    .roadmap_list_wrap::before {
        height: 100%;
        background: linear-gradient(295.89deg, rgba(178, 100, 247, 0.3) 25.59%, rgba(58, 104, 244, 0.3) 74.88%, rgba(53, 168, 251, 0.3) 89.27%);
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        position: absolute;
    }

    .roadmap_list {
        margin-left: auto;
        margin-right: auto;
        max-width: 1400px;
        position: relative;
        width: 100%;
    }

    .roadmap_item {
        position: absolute;
        width: 16.4%;
        min-width: 190px;
        z-index: 2;
    }

    .roadmap_item.last {
        z-index: 0;
    }

    .roadmap_item:nth-child(1){
        top: 0;
        padding-top: 30px;
        left: 0;
    }

    .roadmap_item:nth-child(2){
        bottom: 0;
        padding-bottom: 33px;
        left: 14%;
    }

    .roadmap_item:nth-child(3){
        top: 0;
        padding-top: 30px;
        left: 28%;
    }

    .roadmap_item:nth-child(4){
        bottom: 0;
        padding-bottom: 31px;
        left: 42.15%;
    }

    .roadmap_item:nth-child(5){
        top: 0;
        padding-top: 30px;
        left: 56%;
    }

    .roadmap_item:nth-child(6){
        bottom: 0;
        padding-bottom: 39px;
        left: 70%;
    }

    .roadmap_item:nth-child(7){
        top: 0;
        padding-top: 56px;
        left: 83.6%;
    }

    .roadmap_item:nth-child(2),
    .roadmap_item:nth-child(4),
    .roadmap_item:nth-child(6) {
        display: flex;
        flex-direction: column-reverse;
    }

    .roadmap_item .text {
        margin: 8px 0;
    }

    .roadmap_item .marker {
        background: #1E4391;
        width: 20px;
        height: 20px;
        position: absolute;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: calc(50% - 10px);
    }

    .roadmap_item:nth-child(2) .marker,
    .roadmap_item:nth-child(4) .marker,
    .roadmap_item:nth-child(6) .marker {
        bottom: -8.5px;
    }
    
    .roadmap_item:nth-child(1) .marker,
    .roadmap_item:nth-child(3) .marker,
    .roadmap_item:nth-child(5) .marker,
    .roadmap_item:nth-child(7) .marker {
        top: -8.5px;
    }

    .roadmap_item .marker::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background: #181B24;
        border-radius: 50%;
    }

    .roadmap_item .marker.active {
        background: linear-gradient(321.95deg, #B264F7 24.18%, #3A68F4 64.69%, #35A8FB 102.38%);
    }

    .roadmap_item .marker.active::after {
        background: white;
    }

    .roadmap_item .marker.big {
        width: 34px;
        height: 34px;
    }

    .roadmap_item .marker.big::after {
        width: 16px;
        height: 16px;
    }

    .roadmap_item .marker.big .line {
        z-index: 0;
        content: '';
        position: absolute;
        height: 3px;
        width: 100vw;
        right: 34px;
        top: 16px;
        background: linear-gradient(295.89deg, rgba(178, 100, 247) 25.59%, rgba(58, 104, 244) 74.88%, rgba(53, 168, 251) 89.27%);
    }
    
    .roadmap_item:nth-child(2) .marker.big,
    .roadmap_item:nth-child(4) .marker.big,
    .roadmap_item:nth-child(6) .marker.big {
        bottom: -14.5px;
    }
    
    .roadmap_item:nth-child(1) .marker.big,
    .roadmap_item:nth-child(3) .marker.big,
    .roadmap_item:nth-child(5) .marker.big,
    .roadmap_item:nth-child(7) .marker.big {
        top: -14.5px;
    }

    .roadmap_item:nth-child(1) .marker::before,
    .roadmap_item:nth-child(3) .marker::before,
    .roadmap_item:nth-child(6) .marker::before,
    .roadmap_item:nth-child(7) .marker::before {
        content: '';
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .roadmap_item:nth-child(1) .marker::before {
        background-image: url(src/assets/img/roadmap_1.svg);
        width: 84px;
        height: 166px;
        right: 8px;
        bottom: 19px;
    }

    .roadmap_item:nth-child(3) .marker::before {
        background-image: url(src/assets/img/roadmap_2.svg);
        width: 60px;
        height: 146px;
        left: 9px;
        bottom: 20px;
    }

    .roadmap_item:nth-child(6) .marker::before {
        background-image: url(src/assets/img/roadmap_3.svg);
        width: 197px;
        height: 204px;
        right: 9px;
        bottom: 12px;
    }

    .roadmap_item:nth-child(7) .marker::before {
        background-image: url(src/assets/img/roadmap_4.svg);
        width: 149px;
        height: 200px;
        right: 8px;
        top: 20px;
    }

    @media(max-width: 1100px) {

        .roadmap_item:nth-child(1) {
            left: 0.3%;
        }
        .roadmap_item:nth-child(2) {
            left: 12.2%;
        }

        .roadmap_item:nth-child(3) {
            left: 25.3%;
            min-width: 210px;
        }

        .roadmap_item:nth-child(3) .marker::before {
            height: 106px;
        }

        .roadmap_item:nth-child(4) {
            left: 42.35%;
            min-width: 220px;
        }

        .roadmap_item:nth-child(6) .marker::before {
            content: unset;
        }

        .roadmap_item:nth-child(5) {
            left: 53.3%;
            min-width: 230px;
        }

        .roadmap_item:nth-child(6) {
            left: 69.2%;
            min-width: 220px;
        }

        .roadmap_item:nth-child(7) {
            left: unset;
            right: 0.3%;
            min-width: 200px;
        }

        .roadmap_item:nth-child(7) .marker::before {
            width: 113px;
            height: 182px;
        }
        
    }

    @media(max-width: 992px) {

        .roadmap_item:nth-child(2), .roadmap_item:nth-child(4), .roadmap_item:nth-child(6) {
            display: block;
        }

        .roadmap_list_wrap {
            height: auto;
            margin: 58px 0;
            padding-top: 104px;
            overflow: hidden;
        }

        .roadmap_list_wrap::before {
            width: 3px;
            left: calc(50% - 1.5px);
        }
        
        .roadmap_item {
            width: 50%;
            margin: 0 auto;
            transform: translateX(-50%);
            position: static;
            text-align: right;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-right: 26px;
            position: relative;
            top: unset !important;
            right: unset !important;
            left: unset !important;
            bottom: unset !important;
            min-width: unset !important;
        }

        .roadmap_item:nth-child(2n) {
            transform: translateX(50%);
            text-align: left;
            padding-left: 26px;
            padding-right: 20px;
        }

        .roadmap_item .text {
            margin: -2px 0;
        }

        body .roadmap_item .marker {
            left: unset;
            right: -10px;
            top: calc(50% - 10px) !important;
        }

        .roadmap_item:nth-child(2n) .marker {
            left: -10px;
            right: unset;
        }

        .roadmap_item .marker.big {
            top: calc(50% - 17px);
            right: -17px;
        }

        .roadmap_item:nth-child(2) .marker.big {
            right: unset;
            left: -17px;
        }

        .roadmap_item .marker.big .line {
            height: 300vh;
            bottom: 34px;
            width: 3px;
            top: unset;
            left: calc(50% - 1.5px);
        }

        .roadmap_item:nth-child(1) .marker::before {
            background-image: url('src/assets/img/roadmap_mob_1.svg');
            right: unset;
            left: 19px;
            bottom: 9px;
            height: 72px;
            width: 144px;
        }

        .roadmap_item:nth-child(3) .marker::before {
            transform: rotate(90deg);
            top: -14px;
            left: 42px;
        }

        .roadmap_item:nth-child(7) .marker::before {
            content: unset;
        }

        .roadmap_item:nth-child(1) {
            margin-bottom: 41px;
        }

        .roadmap_item:nth-child(2) {
            padding-left: 33px;
            margin-bottom: 62px;
        }

        .roadmap_item:nth-child(3) {
            margin-bottom: 79px;
        }

        .roadmap_item:nth-child(4) {
            margin-bottom: 30px;
        }

        .roadmap_item:nth-child(5) {
            margin-bottom: 68px;
        }

        .roadmap_item:nth-child(6) {
            margin-bottom: 39px;
        }

        .roadmap_item:nth-child(7) {

        }


    }

</style>