<script setup>
import AboutFirstScreen from '@/components/screen/AboutFirstScreen.vue'
import Members from '@/components/screen/Members.vue'
import vHeader from '@/components/vHeader.vue'
import vFooter from '@/components/vFooter.vue'
</script>
<template>
    <vHeader/>
    
    <AboutFirstScreen />

    <Members />

    <vFooter/>
</template> 