<script setup>
import FAQ from '@/components/screen/FAQ.vue'
import Roadmap from '@/components/screen/Roadmap.vue'
import Movies from '@/components/screen/Movies.vue'
import ContactUs from '@/components/screen/ContactUs.vue'
import vHeader from '@/components/vHeader.vue'
import vFooter from '@/components/vFooter.vue'
</script>
<template>
    <vHeader/>
    
    <FAQ />

    <Roadmap />

    <Movies />

    <ContactUs />

    <vFooter/>
</template> 
