<script setup>
    import BackBtn from "@/components/BackBtn.vue";
    import TextField from '@/components/TextField.vue'
</script>

<template>

<section class="page-bg bg-full bg-center min-h-screen px-5 flex items-center justify-center pb-6 overflow-hidden" style="background-image: url('src/assets/img/login_bg.png')">
    <div class="max-w-[1400px] w-full mx-auto flex flex-wrap items-strart justify-between md:py-10">
        <div class="md:w-[35%] w-full max-w-[414px] ml-auto lg+:pr-[4.6%] -mt-0.5 lg+:mr-0 md:mr-[-82px] mr-auto lg+:pt-[0] md:pt-10 pt-6 md:pr-[11px] md:pl-0 px-1">
            <BackBtn />
            <h1 class="md:text-[38px] text-[32px] mt-[35px] font-semibold text-white md:mb-[37px] mb-[45px]">{{ title }}</h1>
            <form action="#">
                <TextField 
                    class="mb-[26px]"
                    v-model="form.email.value" 
                    :val="form.email.value"
                    :placeholder="form.email.placeholder"
                    :label="form.email.label"
                    type="email"
                />

                <TextField 
                    class="mb-[28px]"
                    v-model="form.password.value" 
                    :val="form.password.value"
                    :placeholder="form.password.placeholder"
                    :label="form.password.label"
                    type="password"
                />
                <div class="uppercase text-[10px] text-[#818181] tracking-[0.5px] leading-[1.6]">
                    <router-link class="font-bold" to="/recover-password">Forgot password?</router-link>
                    <p class="font-bold mt-4 md:block hidden">Don’t have an account? <router-link class="font-bold underline" to="/signup">click here to sign up</router-link></p>
                </div>

                <input class="bg-[#246BFD] p-[14px] rounded-full w-full text-center text-white ff-inter font-bold text-sm cursor-pointer mt-[23px] max-w-[325px] mx-auto md:mx-0 block" type="submit" v-bind:value="form.submit">
                
                <div class="flex flex-wrap items-stretch justify-between max-w-[325px] md:mt-3 mt-[26px] mx-auto md:mx-0">
                    <a class="inline-flex mb-[14px] md:mb-[0] md:w-[31%] w-full h-[48px] items-center justify-center rounded-3xl border border-[#5E6272]" v-for="item in alt_login" v-bind:href="item.url">
                        <img v-bind:src="item.img" alt="">
                        <span class="md:hidden inline-block font-semibold text-white ff-inter ml-2.5">{{ item.mob_text }}</span>
                    </a>
                </div>

                <p class="block md:hidden text-center text-[#C3C3C3] opacity-80 mt-[60px] -mx-2 mb-[156px] pt-[44px] border-t border-[#ffffff19]">{{ copyright }}</p>
            </form>
        </div>
        <div class="w-[60.3%] lg+:transform-none transform_image md:block hidden">
            <img v-bind:src="right_img" alt="">
        </div>
    </div>

</section>

</template>

<script>
    export default {
        data(){
            return {
                title: 'Login',
                form: {
                    email: {
                        value: '',
                        placeholder: 'example@gmail.com',
                        label: 'Email'
                    },
                    password: {
                        value: '',
                        placeholder: 'Password',
                        label: 'Password'
                    },
                    submit: 'Log in'
                },
                alt_login: [
                    {
                        url: '#',
                        img: 'src/assets/img/icon-google.svg',
                        mob_text: 'Sign in with Facebook'
                    },
                    {
                        url: '#',
                        img: 'src/assets/img/icon-facebook.svg',
                        mob_text: 'Sign in with Apple'
                    },
                    {
                        url: '#', 
                        img: 'src/assets/img/icon-apple.svg',
                        mob_text: 'Sign in with Google'
                    }
                ],
                right_img: 'src/assets/img/login.png',
                copyright: '© 2022 QuantumLife, All Rights Reserved.'
            }
        },
    }
</script>

<style scoped>
    .bg-full {
        background-size: 100% 100%;
    }

    @media (max-width: 1024px) {
        .transform_image {
            transform: scale(2.4) translate(36.5%, 10.4%);
        }
    }
</style>