<script setup>
import vHeader from '@/components/vHeader.vue'
import vFooter from '@/components/vFooter.vue'
</script>
<template>
    <vHeader/>
    
    <section class="py-[150px] px-20 text-center">
        <router-link class="border border-gray inline-block py-2 px-6 mb-4 rounded-lg hover:bg-gray-100 w-full max-w-[300px]" to="/">Home</router-link>
        <br>
        <router-link class="border border-gray inline-block py-2 px-6 mb-4 rounded-lg hover:bg-gray-100 w-full max-w-[300px]" to="/referal">Referal</router-link>
        <br>
        <router-link class="border border-gray inline-block py-2 px-6 mb-4 rounded-lg hover:bg-gray-100 w-full max-w-[300px]" to="/login">Log in</router-link>
        <br>
        <router-link class="border border-gray inline-block py-2 px-6 mb-4 rounded-lg hover:bg-gray-100 w-full max-w-[300px]" to="/signup">Sign Up</router-link>
        <br>
        <router-link class="border border-gray inline-block py-2 px-6 mb-4 rounded-lg hover:bg-gray-100 w-full max-w-[300px]" to="/recover-password">Recover Password</router-link>
        <br>
        <router-link class="border border-gray inline-block py-2 px-6 mb-4 rounded-lg hover:bg-gray-100 w-full max-w-[300px]" to="/profile">Profile</router-link>
        <br>
        <router-link class="border border-gray inline-block py-2 px-6 mb-4 rounded-lg hover:bg-gray-100 w-full max-w-[300px]" to="/profile-affirmations">Profile Affirmations</router-link>
        <br>
        <router-link class="border border-gray inline-block py-2 px-6 mb-4 rounded-lg hover:bg-gray-100 w-full max-w-[300px]" to="/profile-growth">Quantum Growth</router-link>
        <br>
        <router-link class="border border-gray inline-block py-2 px-6 mb-4 rounded-lg hover:bg-gray-100 w-full max-w-[300px]" to="/profile-bank">Deposit Bank Account</router-link>
        <br>
        <br>
        <br>
        <h1 class="text-4xl+ text-center mb-2">Old</h1>
        <router-link class="border border-gray inline-block py-2 px-6 mb-4 rounded-lg hover:bg-gray-100 w-full max-w-[300px]" to="/temporiraly-premium">Temporiraly premium</router-link>
        <br>
        <router-link class="border border-gray inline-block py-2 px-6 mb-4 rounded-lg hover:bg-gray-100 w-full max-w-[300px]" to="/temporiraly-home">Temporiraly Home</router-link>
    </section>

    <vFooter/>
</template> 