<script setup>
    import vHeaderAuth from '@/components/vHeaderAuth.vue'
    import vFooter from '@/components/vFooter.vue'
    import ProfileTempate from '@/components/ProfileTempate.vue'
    import Popup from '@/components/Popup.vue'
    import RadioFieldButton from '@/components/RadioFieldButton.vue'
    import TextField from '@/components/TextField.vue'
</script>
<template>
    <vHeaderAuth />

    <ProfileTempate>
        <div class="lg+:bg-[#262A34] rounded-[14px] p-10 relative h-full max-w-[464px] lg+:max-w-none ml-auto mr-auto md:mr-0 mt-[17px] lg+:mt-0 lg+:text-left text-center">
            <div class="flex flex-wrap lg+:flex-nowrap items-center justify-start">
                <div class="lg+:mx-0 mx-auto">
                    <img class="w-[136px] h-[136px] rounded-full" v-bind:src="avatar" alt="">
                </div>
                <div class="lg+:pl-10 lg+:pt-1.5 pt-[14px] w-full lg+:w-auto">
                    <h2 class="text-[32px] font-semibold text-white">{{ name }}</h2>
                    <p class="text-[#818181] text-xs leading-[1.6] ff-inter font-medium mt-1.5">
                        <span class="">{{ location }}</span><br>
                        <span class="">{{ points }}</span>
                    </p>
                </div>
            </div>
            <a 
                class="bg-[#246BFD] p-[14px] rounded-full w-full text-center text-white ff-inter font-bold text-sm lg+:block hidden max-w-[327px] mt-10"
                @click.prevent="$refs.popup_get_access.switch()"
                v-bind:href="btn.url"
            >{{ btn.caption }}</a>
            <a 
                @click.prevent="$refs.popup_edit.switch()"
                class="lg+:absolute static right-6 top-6 text-white font-bold ff-inter text-sm rounded-3xl border-2 border-[#246BFD] py-[9px] px-[18px] inline-block mt-3 lg+:mt-0" 
                v-bind:href="edit.url"
            >{{ edit.caption  }}</a>
        </div>
    </ProfileTempate>

    <vFooter class="md:block hidden" />

    <p class="block md:hidden text-center text-[#C3C3C3] mt-[-1px] pb-[60px] pt-[44px] border-t border-[#ffffff19] page-bg">© 2022 QuantumLife, <span class="opacity-80">All Rights Reserved.</span></p>

    <Popup content_class="w-full max-w-[788px] min-h-[500px] md:text-left text-center" ref="popup_get_access">
        <h3 class="text-lg font-semibold text-white">{{ popup_get_access.title }}</h3>
        <p class="text-[#818181] text-xs leading-[1.6] font-medium ff-inter mt-2">{{ popup_get_access.text }}</p>
        <div class="flex md:flex-row flex-col mt-[30px]">
            <div class="md:w-[40%] w-full md:mb-0 mb-6">
                <img class="max-w-full md:mx-0 mx-auto" v-bind:src="popup_get_access.img" alt="">
            </div>
            <form action="#" class="md:w-[60%] w-full md:pl-[7.3%]">
                <RadioFieldButton
                    class="w-full sm:mb-[11px] max-w-[327px] md:mx-0 mx-auto text-left"
                    :label="popup_get_access.plan.options.first.label"
                    :val="popup_get_access.plan.options.first.value"
                    name="plan"
                    v-model="popup_get_access.plan.value"
                    :init_val="popup_get_access.plan.value"
                />
                <RadioFieldButton
                    class="w-full max-w-[327px] md:mx-0 mx-auto text-left"
                    :label="popup_get_access.plan.options.second.label"
                    :val="popup_get_access.plan.options.second.value"
                    name="plan"
                    v-model="popup_get_access.plan.value"
                    :init_val="popup_get_access.plan.value"
                />
                
                <p class="text-[#818181] text-xs leading-[1.6] font-medium ff-inter tracking-[0.1px] pt-2"><a class="hover:underline" v-bind:href="popup_get_access.links.restore.url">{{ popup_get_access.links.restore.caption }}</a> / <a class="hover:underline" v-bind:href="popup_get_access.links.terms.url">{{ popup_get_access.links.terms.caption }}</a></p>
                
                <input class="bg-[#246BFD] p-[14px] rounded-full w-full text-center text-white ff-inter font-bold text-sm max-w-[327px] mt-8 cursor-pointer" type="submit" v-bind:value="popup_get_access.submit">
            </form>
        </div>
    </Popup>

    <Popup content_class="w-full md:max-w-[489px] min-h-[500px] md:text-left text-center border-[2px] border-[#5E6272]" ref="popup_edit">
        <div class="md:block flex items-center justify-between md:-mt-4 mt-4 mb-6">
            <button 
                class="md:hidden inline-block"
                @click.prevent="$refs.popup_edit.switch()"
            ><img src="src/assets/img/left.svg" alt=""></button>
            <h3 class="text-lg text-white font-semibold">{{ popup_edit.title }}</h3>
            <input 
                type="submit" 
                v-bind:value="popup_edit.form.submit"
                class="text-white font-bold text-sm border-2 border-[#246BFD] rounded-full bg-[#246BFD] py-2 px-5 md:hidden inline-block cursor-pointer"
            >
        </div>
        <form action="#">
            <div class="w-[136px] h-[136px] rounded-full overflow-hidden mx-auto relative mb-10">
                <img v-bind:src="avatar" alt="">
                <div class="w-full h-full bg-[#246BFDCC] flex items-center justify-center absolute inset-0 cursor-pointer" @click="this.openSelectAvatar()">
                    <img src="src/assets/img/icon-camera.svg" alt="">
                </div>
                <input ref="edit_avatar" type="file" class="hidden">
            </div>
            <TextField 
                class="mb-3"
                label_class="text-[#818181] text-sm cursor-pointer mb-3 block"
                input_class="w-full ff-inter border bg-transparent block text-white py-3 px-5 rounded-[6px] focus:outline-0 font-semibold border border-[#5E6272]"
                v-model="popup_edit.form.city.value" 
                :val="popup_edit.form.city.value"
                :placeholder="popup_edit.form.city.placeholder"
                :label="popup_edit.form.city.label"
                type="text"
            />
            <TextField 
                class="mb-3"
                label_class="text-[#818181] text-sm cursor-pointer mb-3 block"
                input_class="w-full ff-inter border bg-transparent block text-white py-3 px-5 rounded-[6px] focus:outline-0 font-semibold border border-[#5E6272]"
                v-model="popup_edit.form.password.value" 
                :val="popup_edit.form.password.value"
                :placeholder="popup_edit.form.password.placeholder"
                :label="popup_edit.form.password.label"
                type="password"
            />
            <TextField 
                class="mb-8"
                label_class="text-[#818181] text-sm cursor-pointer mb-3 block"
                input_class="w-full ff-inter border bg-transparent block text-white py-3 px-5 rounded-[6px] focus:outline-0 font-semibold border border-[#5E6272]"
                v-model="popup_edit.form.new_password.value" 
                :val="popup_edit.form.new_password.value"
                :placeholder="popup_edit.form.new_password.placeholder"
                :label="popup_edit.form.new_password.label"
                type="password"
            />
            <div class="items-stretch justify-end md:flex hidden">
                <button 
                    class="text-white font-bold text-sm border-2 border-[#246BFD] rounded-full mr-4 py-2 px-5 hover:underline"
                    @click.prevent="$refs.popup_edit.switch()"
                >{{ popup_edit.form.back }}</button>
                <input 
                    type="submit" 
                    v-bind:value="popup_edit.form.submit"
                    class="text-white font-bold text-sm border-2 border-[#246BFD] rounded-full bg-[#246BFD] py-2 px-5 hover:underline cursor-pointer"
                >
            </div>
        </form>
    </Popup>

</template>

<script>
    export default {
        data(){
            return {
                avatar: 'src/assets/img/avatar.png',
                name: 'Remo Vloet',
                location: 'Nijmegen, Nederlands',
                points: '100 quantum points',
                btn: {
                    caption: 'Get Unlimited Access',
                    url: '#'
                },
                edit: {
                    caption: 'Edit',
                    url: '#'
                },
                popup_get_access: {
                    title: 'Get unlimited access',
                    text: 'Unlock the true poyential of the quantum universe.',
                    img: 'src/assets/img/profile_popup.png',
                    plan: {
                        value: "first",
                        options: {
                            first: {
                                label: "$57.99 Annual ($4.99/month)",
                                value: "first"
                            },
                            second: {
                                label: "$12,95 Monthly",
                                value: "second"
                            }
                        }
                    },
                    links: {
                        restore: {
                            caption: 'Restore purchase',
                            url: '#'
                        },
                        terms: {
                            caption: 'Terms & Conditions',
                            url: '#'
                        }
                    },
                    submit: 'Start your quantum life' 
                },
                popup_edit: {
                    title: 'Edit Profile',
                    form: {
                        city: {
                            value: '',
                            placeholder: 'Nijmegen',
                            label: 'Your City'
                        },
                        password: {
                            value: '',
                            placeholder: 'Password',
                            label: 'Current password'
                        },
                        new_password: {
                            value: '',
                            placeholder: 'New password',
                            label: 'New password'
                        },
                        submit: 'Done',
                        back: 'Cancel'
                    },
                }
            }
        },
        methods: {
            openSelectAvatar(){
                console.log(1);
                this.$refs.edit_avatar.dispatchEvent( new MouseEvent('click') )
            }
        }
    }
</script>