<script setup>
    import vHeaderAuth from '@/components/vHeaderAuth.vue'
    import vFooter from '@/components/vFooter.vue'
    import ProfileTempate from '@/components/ProfileTempate.vue'
    import TextField from '@/components/TextField.vue'
</script>
<template>
    <vHeaderAuth />
    <ProfileTempate>
        <div class="lg+:bg-[#262A34] rounded-[14px] lg+:p-10 mb-10 md:mb-0 relative h-full ml-auto mr-auto md:mr-0 mt-[17px] lg+:mt-0 text-center md:text-left">
            <div>
                <h2 class="text-lg text-white font-semibold -mt-0.5 mb-4">{{ block_1.title }}</h2>
                <p class="text-xs text-[#818181] font-medium leading-[1.6] ff-inter lg+:max-w-[460px] mb-4">{{ block_1.text }}</p>
                <div class="flex flex-wrap justify-between items-stretch">
                    <TextField 
                        class="mb-5 lg+:w-[48%] w-full text-left"
                        label_class="text-[#818181] text-sm cursor-pointer mb-3 block"
                        input_class="w-full ff-inter border bg-transparent block text-white py-3 px-5 rounded-[6px] focus:outline-0 text-sm border border-[#5E6272]"
                        v-model="block_1.form.f_name.value" 
                        :val="block_1.form.f_name.value"
                        :placeholder="block_1.form.f_name.placeholder"
                        :label="block_1.form.f_name.label"
                        type="text"
                    />
                    <TextField 
                        class="mb-5 lg+:w-[48%] w-full text-left"
                        label_class="text-[#818181] text-sm cursor-pointer mb-3 block"
                        input_class="w-full ff-inter border bg-transparent block text-white py-3 px-5 rounded-[6px] focus:outline-0 text-sm border border-[#5E6272]"
                        v-model="block_1.form.l_name.value" 
                        :val="block_1.form.l_name.value"
                        :placeholder="block_1.form.l_name.placeholder"
                        :label="block_1.form.l_name.label"
                        type="text"
                    />
                    <TextField 
                        class="mb-5 lg+:w-[48%] w-full text-left"
                        label_class="text-[#818181] text-sm cursor-pointer mb-3 block"
                        input_class="w-full ff-inter border bg-transparent block text-white py-3 px-5 rounded-[6px] focus:outline-0 text-sm border border-[#5E6272]"
                        v-model="block_1.form.number.value" 
                        :val="block_1.form.number.value"
                        :placeholder="block_1.form.number.placeholder"
                        :label="block_1.form.number.label"
                        type="text"
                    />
                    <TextField 
                        class="mb-5 lg+:w-[48%] w-full text-left"
                        label_class="text-[#818181] text-sm cursor-pointer mb-3 block"
                        input_class="w-full ff-inter border bg-transparent block text-white py-3 px-5 rounded-[6px] focus:outline-0 text-sm border border-[#5E6272]"
                        v-model="block_1.form.bic_swift.value" 
                        :val="block_1.form.bic_swift.value"
                        :placeholder="block_1.form.bic_swift.placeholder"
                        :label="block_1.form.bic_swift.label"
                        type="text"
                    />
                </div>
    
                <input 
                    type="submit" 
                    v-bind:value="block_1.form.submit"
                    class="text-white font-bold text-sm border-2 border-[#246BFD] rounded-full bg-[#246BFD] py-3 px-5 mt-8 cursor-pointer w-full max-w-[273px] text-center block md:mx-0 mx-auto"
                >
            </div>
            <p class="text-white my-5 md:text-left text-center">{{ or }}</p>
            <div>
                <h2 class="text-lg text-white font-semibold -mt-0.5 mb-4 md:text-left text-center">{{ block_2.title }}</h2>
                <p class="text-xs text-[#818181] font-medium leading-[1.6] ff-inter lg+:max-w-[460px] mb-4 md:text-left text-center">{{ block_2.text }}</p>
                <div class="flex flex-wrap justify-between items-stretch">
                    <TextField 
                        class="mb-5 lg+:w-[48%] w-full text-left"
                        label_class="text-[#818181] text-sm cursor-pointer mb-3 block"
                        input_class="w-full ff-inter border bg-transparent block text-white py-3 px-5 rounded-[6px] focus:outline-0 text-sm border border-[#5E6272]"
                        v-model="block_2.form.email.value" 
                        :val="block_2.form.email.value"
                        :placeholder="block_2.form.email.placeholder"
                        :label="block_2.form.email.label"
                        type="email"
                    />
                </div>
    
                <input 
                    type="submit" 
                    v-bind:value="block_1.form.submit"
                    class="text-white font-bold text-sm border-2 border-[#246BFD] rounded-full bg-[#246BFD] py-3 px-5 mt-8 cursor-pointer w-full max-w-[273px] text-center block md:mx-0 mx-auto"
                >
            </div>
        </div>
    </ProfileTempate>
    <vFooter class="md:block hidden" />

</template>

<script>
    export default {
        data(){
            return {
                block_1: {
                    title: 'Deposit Bank Account',
                    text: 'Enter your desired bank account. We will deposit the money you earned from the referrral program to this bank account.',
                    form: {
                        f_name: {
                            value: '',
                            label: 'First Name',
                            placeholder: 'Enter Text'
                        },
                        l_name: {
                            value: '',
                            label: 'Last Name',
                            placeholder: 'Enter Text'
                        },
                        number: {
                            value: '',
                            label: 'Bank Account Number',
                            placeholder: 'Enter Text'
                        },
                        bic_swift: {
                            value: '',
                            label: 'BIC/SWIFT',
                            placeholder: 'Enter Text'
                        },
                        submit: 'Save'
                    }
                },
                or: 'or',
                block_2: {
                    title: 'Paypal Email',
                    text: 'Enter your Paypal email address. We will deposit the money you earned from the referrral program to this Paypal account.',
                    form: {
                        email: {
                            value: '',
                            label: 'Email',
                            placeholder: 'Enter Text'
                        },
                        submit: 'Save'
                    }
                },

            }
        }
    }
</script>