<script setup>
    import vHeaderAuth from '@/components/vHeaderAuth.vue'
    import vFooter from '@/components/vFooter.vue'
    import ProfileTempate from '@/components/ProfileTempate.vue'
</script>
<template>
    <vHeaderAuth />
    <ProfileTempate>
        <div class="lg+:bg-[#262A34] rounded-[14px] md:p-10 mb-10 md:mb-0 relative h-full ml-auto mr-auto md:mr-0 mt-[17px] lg+:mt-0 lg+:text-left text-center">
            <h1 class="text-lg text-white font-semibold -mt-0.5 mb-[14px]">{{ title }}</h1>
            <p class="text-xs text-[#818181] font-medium leading-[1.6] ff-inter lg+:max-w-[460px]">{{ text }}</p>
            <div class="flex flex-wrap items-center justify-between lg+:mt-8 mt-16 md:max-w-[640px]">
                <div 
                    v-for="(item, key) in radio.options" :key="key"
                    class="lg+:w-[31.5%] w-full mb-[14px] text-center cursor-pointer rounded-full p-[13px] border ff-inter font-bold text-sm"
                    @click="radio.selected = item.value"
                    v-bind:class="{
                        'text-white bg-[#246BFD] border-[#246BFD]': item.value == radio.selected,
                        'text-[#5E6272] bg-[#1D1F25] border-[#5E6272]': item.value != radio.selected,
                    }"
                >{{ item.label }}</div>
            </div>
        </div>
    </ProfileTempate>
    <vFooter class="md:block hidden" />

</template>

<script>
    export default {
        data(){
            return {
                title: 'Affirmations',
                text: 'Daily affirmations will help you reach your goals. The affirmations you recieve are based on your lates quantum movie.',
                radio: {
                    selected: 'daily',
                    options: [
                        {
                            value: 'daily',
                            label: 'Daily'
                        },
                        {
                            value: 'weekly',
                            label: 'Weekly'
                        },
                        {
                            value: 'never',
                            label: 'Never'
                        },
                    ]
                }
            }
        }
    }
</script>