<script setup>
    import vHeaderAuth from '@/components/vHeaderAuth.vue'
    import vFooter from '@/components/vFooter.vue'
    import ProfileTempate from '@/components/ProfileTempate.vue'
</script>
<template>
    <vHeaderAuth />
    <ProfileTempate>
        <div class="lg+:bg-[#262A34] rounded-[14px] lg+:p-10 mb-10 md:mb-0 relative h-full mt-[17px] lg+:mt-0 md:max-w-[597px]">
            <h1 class="text-lg text-white font-semibold -mt-0.5 mb-[14px] pl-2 md:text-left text-center">{{ title }}</h1>
            <div class="bg-[#181A23] rounded-3xl py-6 px-8 ff-inter md:max-w-[480px] md:text-left text-center">
                <h3 class="text-white leading-normal mb-1">{{ earned.text }}</h3>
                <p class="text-gradient text-4xl+ font-bold inline-block">{{ earned.val }}</p>
            </div>
            <p class="text-xs text-[#818181] font-medium leading-[1.6] ff-inter lg+:max-w-[460px] mt-4 mamd:x-w-[480px]">{{ text }} <a class="text-white hover:underline" v-bind:href="more.url">{{ more.caption }}</a></p>
            <div class="mt-6 mamd:x-w-[480px]">
                <p class="text-[#818181] text-sm mb-2">{{ referal_code.label }}</p>
                <div class="relative">
                    <input class="text-white ff-inter font-semibold bg-transparent py-3 px-5 rounded-md border border-[#5E6272] w-full" type="text" readonly v-bind:value="referal_code.value">
                    <img class="absolute right-4 bottom-4 w-4 h-4" src="src/assets/img/icon-link.svg" alt="">
                </div>
            </div>
            <div class="ff-inter mt-6 mamd:x-w-[480px]">
                <h3 class="text-white leading-normal font-semibold mb-4">{{ select.label }}</h3>
                <div class="relative bg-[rgba(255,255,255,0.05)] p-4 rounded-xl cursor-pointer"
                    @click="select.is_open = !select.is_open"
                >
                    <p class="text-white font-bold leading-normal">{{ select.selected.label }}</p>
                    <div class="arrow"></div>
                    <div
                        @click.stop 
                        class="absolute top-full right-0 w-full page-bg rounded-xl"
                        v-bind:class="{
                            'hidden': !select.is_open
                        }"
                    >
                        <div 
                            class="py-2 px-5 text-white text-sm font-semibold cursor-pointer mb-2 last:mb-0"
                            v-for="(item, key) in select.options"
                            :key="key"
                            @click="select.selected = item; select.is_open = false"
                        >{{ item.label }}</div>
                    </div>
                </div>
            </div>

            <p class="text-xs text-[#818181] font-medium leading-[1.6] ff-inter md:max-w-[480px] mt-4">{{ text_2 }}</p>

            <div class="mt-4 mamd:x-w-[480px]">
                <div class="bg-[rgba(255,255,255,0.05)] flex items-center justify-between mb-[14px] last:mb-0 rounded-xl py-2 px-2.5" v-for="(item, key) in referals" :key="key">
                    <div class="w-[63px] h-[63px] min-w-[63px] mr-3">
                        <img class="w-full h-full rounded-full" v-bind:src="item.avatar" alt="">
                    </div>
                    <div class="w-full ff-inter">
                        <h3 class="font-bold text-white">{{ item.name }}</h3>
                        <p class="mt-1 text-[#818181] text-xs leading-[1.6]">{{ item.percent }}%</p>
                    </div>
                </div>
            </div>

        </div>
    </ProfileTempate>
    <vFooter class="md:block hidden" />

</template>

<script>
    export default {
        data(){
            return {
                title: 'Referal',
                earned: {
                    text: 'You have already earned:',
                    val: '400$'
                },
                text: 'A smile can travel the world. Help your friends and make a big impact on their lives and of everyone they know. Make massive earnings and gain 20% of your direct friends, 50% of theirs and 75% theirs.',
                more: {
                    caption: 'Learn more',
                    url: '#'
                },
                referal_code: {
                    label: 'Your referal code',
                    value: 'www.quantumlife.app/IDK8492'
                },
                select: {
                    label: 'Referred Persons',
                    is_open: false,
                    selected: {
                        label: 'Tier 2',
                        value: 'tier-2'
                    },
                    options: [
                        {
                            label: 'Tier 1',
                            value: 'tier-1'
                        },
                        {
                            label: 'Tier 2',
                            value: 'tier-2'
                        },
                        {
                            label: 'Tier 3',
                            value: 'tier-3'
                        },
                    ]
                },
                text_2: 'The people you referred may also refer others. You will earn an additional 50% of the commission your directly referred persons are earning.',
                referals: [
                    {
                        avatar: 'src/assets/img/avatar.png',
                        name: 'Remo Vloet',
                        percent: 50
                    },
                    {
                        avatar: 'src/assets/img/avatar.png',
                        name: 'Remo Vloet',
                        percent: 50
                    },
                    {
                        avatar: 'src/assets/img/avatar.png',
                        name: 'Remo Vloet',
                        percent: 50
                    },
                ]
            }
        }
    }
</script>

<style scoped>
    .arrow {
        position: absolute;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 16px;
        top: 16px;
    }

    .arrow::before,
    .arrow::after {
        content: '';
        width: 10px;
        height: 3px;
        background: #777E91;
        transform: rotate(-45deg);
        left: 7.5px;
        border-radius: 50px;
    }
    
    .arrow::after {
        transform: rotate(45deg);
        left: unset;
        right: 7.5px;
    }
</style>