<script setup>
    import vHeaderAuth from '@/components/vHeaderAuth.vue'
    import vFooter from '@/components/vFooter.vue'
    import ProfileTempate from '@/components/ProfileTempate.vue'
    import ProfileCourses from '@/components/ProfileCourses.vue';
</script>
<template>
    <vHeaderAuth />
    <ProfileTempate>
        <div class="lg+:bg-[#262A34] rounded-[14px] lg+:p-10 mb-10 md:mb-0 relative h-full mt-[17px] lg+:mt-0 md:max-w-[787px] overflow-hidden max-w-[350px] mx-auto md:mx-0">
            <ProfileCourses class="mb-[50px]" :data="courses.first"/>
            <ProfileCourses :data="courses.second"/>
        </div>
    </ProfileTempate>
    <vFooter class="md:block hidden" />

</template>

<script>
    export default {
        data(){
            return {
                courses: {
                    first: {
                        title: 'Available courses',
                        items: [
                            {
                                img: 'src/assets/img/courses.png',
                                title: 'Ronan Diego',
                                text: 'Master the impulse to eat',
                                period: '24 lessons',
                                price: '$149,95'
                            },
                            {
                                img: 'src/assets/img/courses.png',
                                title: 'Ronan Diego',
                                text: 'Master the impulse to eat',
                                period: '24 lessons',
                                price: '$149,95'
                            },
                            {
                                img: 'src/assets/img/courses.png',
                                title: 'Ronan Diego',
                                text: 'Master the impulse to eat',
                                period: '24 lessons',
                                price: '$149,95'
                            },
                        ] 
                    },
                    second: {
                        title: 'Paid courses',
                        items: [
                            {
                                img: 'src/assets/img/courses.png',
                                title: 'Ronan Diego',
                                text: 'Master the impulse to eat',
                                period: '24 lessons',
                                price: '$149,95'
                            },
                            {
                                img: 'src/assets/img/courses.png',
                                title: 'Ronan Diego',
                                text: 'Master the impulse to eat',
                                period: '24 lessons',
                                price: '$149,95'
                            },
                            {
                                img: 'src/assets/img/courses.png',
                                title: 'Ronan Diego',
                                text: 'Master the impulse to eat',
                                period: '24 lessons',
                                price: '$149,95'
                            },
                        ] 
                    }
                }
            }
        }
    }
</script>

<style scoped>
</style>