<script setup>
    import BackBtn from "@/components/BackBtn.vue";
    import TextField from '@/components/TextField.vue'
</script>

<template>

<section class="page-bg bg-full bg-center min-h-screen px-5 flex items-center justify-center pb-6 overflow-hidden" style="background-image: url('src/assets/img/login_bg.png')">
    <div class="max-w-[1400px] w-full mx-auto flex flex-wrap items-strart justify-between md:py-10">
        <div class="md:w-[35%] w-full max-w-[414px] ml-auto lg+:pr-[2%] -mt-0.5 lg+:mr-0 md:mr-[-82px] mr-auto lg+:pt-[0] md:pt-10 pt-6 md:pr-[11px] md:pl-0 px-1">
            <BackBtn />
            <h1 class="md:text-[38px] text-[32px] mt-[35px] font-semibold text-white md:mb-[37px] mb-[45px] whitespace-nowrap">{{ title }}</h1>
            <form action="#">
                <TextField 
                    class="mb-[29px] max-w-[327px]"
                    v-model="form.email.value" 
                    :val="form.email.value"
                    :placeholder="form.email.placeholder"
                    :label="form.email.label"
                    type="email"
                />

                <p class="text-[#818181] font-medium text-xs leading-[1.6] ff-inter">{{ text }}</p>

                <input class="bg-[#246BFD] p-[14px] rounded-full w-full text-center text-white ff-inter font-bold text-sm cursor-pointer mt-[23px] max-w-[325px] mx-auto md:mx-0 block" type="submit" v-bind:value="form.submit">
            </form>
        </div>
        <div class="w-[60.3%] lg+:transform-none transform_image md:block hidden">
            <img v-bind:src="right_img" alt="">
        </div>
    </div>

</section>

</template>

<script>
    export default {
        data(){
            return {
                title: 'Recover Password',
                text: 'Please enter the email adress for your account. A verification code will be sent for you. Once you have received the verification code. You will be able to choose a new password for your account.',
                form: {
                    email: {
                        value: '',
                        placeholder: 'example@gmail.com',
                        label: 'Email'
                    },
                    submit: 'Email me a recover link'
                },
                right_img: 'src/assets/img/login.png',
            }
        },
    }
</script>

<style scoped>
    .bg-full {
        background-size: 100% 100%;
    }

    @media (max-width: 1024px) {
        .transform_image {
            transform: scale(2.4) translate(36.5%, 10.4%);
        }
    }
</style>