<script setup>
import ReferalFirstScreen from '@/components/screen/ReferalFirstScreen.vue'
import ReferalTiers from '@/components/screen/ReferalTiers.vue'
import ReferalContactUs from '@/components/screen/ReferalContactUs.vue'
import ReferalAccessLink from '@/components/screen/ReferalAccessLink.vue'
import vHeader from '@/components/vHeader.vue'
import vFooter from '@/components/vFooter.vue'
</script>

<template>
    <vHeader/>

    <ReferalFirstScreen />
    
    <ReferalTiers />

    <ReferalContactUs />

    <ReferalAccessLink />

    <vFooter/>
</template>

<script>
    export default {
        data(){
            return {

            }
        }
    }
</script>