<script setup>
import AccessQuantumMultiverse from '@/components/screen/_AccessQuantumMultiverse.vue'
import Manifest from '@/components/screen/_Manifest.vue'
import Expiriences from '@/components/screen/_Expiriences.vue'
import AboutApp from '@/components/screen/_AboutApp.vue'
import DownloadApp from '@/components/screen/_DownloadApp.vue'
import GetAccess from '@/components/screen/_GetAccess.vue'
import PopupFormGetUnlimitedAccess from '@/components/screen/_PopupFormGetUnlimitedAccess.vue'
import vHeader from '@/components/vHeader.vue'
import vFooter from '@/components/vFooter.vue'
</script>

<template>
  <vHeader/>
  <main class="bg-[#181A20]">

    <AccessQuantumMultiverse />

    <Manifest />

    <Expiriences />

    <AboutApp />

    <DownloadApp />

    <GetAccess />

    <PopupFormGetUnlimitedAccess />
  
  </main>
  <vFooter/>
</template>
