<script setup>
import GetUnlimitedAccessForm from '@/components/screen/_GetUnlimitedAccessForm.vue'
import Manifest from '@/components/screen/_Manifest.vue'
import Expiriences from '@/components/screen/_Expiriences.vue'
import AboutApp from '@/components/screen/_AboutApp.vue'
import DownloadApp from '@/components/screen/_DownloadApp.vue'
import BlockGetPremium from '@/components/screen/_BlockGetPremium.vue'
import vHeader from '@/components/vHeader.vue'
import vFooter from '@/components/vFooter.vue'
</script>

<template>
  <vHeader/>
  <main class="bg-[#181A20]">

    <GetUnlimitedAccessForm/>

    <Manifest />

    <Expiriences />

    <AboutApp />

    <DownloadApp />

    <BlockGetPremium />
  
  </main>
  <vFooter/>
</template>
