<template>
    <div class="-mx-1">
        <div 
            class="accordeon_item flex items-center justify-between bg-[rgba(36,38,43,0.6)] rounded-[20px] lg+:p-[30px] md:px-[22px] md:py-[30px] p-[35px_22px] md:mb-5 mb-[22px]"
            v-for="(item, index) in data" 
            :key="index"
            @click="open_item=index"
        >
            <div class="opacity-gradient-bg mb-auto w-[50px] h-[50px] min-w-[50px] rounded-[10px] text-white text-[30px] flex items-center justify-center font-bold mr-auto">
                {{ (index+1) }}
            </div>
            <div class="w-full lg+:pl-[22px] md:pl-[30px] pl-3 static">
                <h3 
                    class="accordeon_title text-white opacity-80 md:text-xl text-normal font-bold cursor-pointer md:pr-12 pr-4 md:relative static md:mt-0 -mt-2 leading-[1.4] md:leading-normal tracking-[0.5px] md:tracking-normal"
                    v-bind:class="{open: open_item==index}"
                >{{ item.title }}</h3>
                <p 
                    class="md:pt-4 pt-5 pl-0.5 text-gray md:text-sm text-xs md:leading-[1.857] leading-[26px] min-h-[67px] md:pr-[60px] md:ml-0 -ml-16 md:mb-0 -mb-4 opacity-80"
                    v-bind:class="{hidden: open_item!=index}"
                >{{ item.text }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                open_item: 0
            }
        },
        props: ['data']
    }
</script>

<style scoped>

    .accordeon_item {
        box-shadow: -1px -1px 3px -2px white;
    }
    
    .accordeon_title:after {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        right: 22px;
        top: 6px;
        transform: rotate(45deg);
        border-right: solid 2px white;
        border-bottom: solid 2px white;
    }
    
    .accordeon_title.open:after {
        transform: rotate(45deg) scale(-1);
        top: 14px;
    }
    
    @media (max-width: 1100px) {
        
        .accordeon_title:after {
            right: 18px;
        }
    }

    @media (max-width: 769px) {
        
        .accordeon_title:after {
            top: 57px;
            right: 22px;
        }
        .accordeon_title.open:after {
            top: 58px;
        }
    }
    
    </style>