<template>
    <ul class="text-white font-bold text-xl">
        <li 
            class="flex items-start justify-start last:mb-0 leading-tight" 
            v-for="item in data" 
            :key="item"
            v-bind:class="{
                'md:mb-9 mb-[2.4rem]': size == undefined,
                'md:mb-[11px] mb-10': size == 'small'
            }"
        >
            <img class="mr-2.5 mt-px" src="src/assets/img/check_icon.svg" alt="">
            <span>{{ item }}</span>
        </li>
    </ul>
</template>

<script>
    export default {
        props: ['data', 'size']
    }
</script>