<template>
    <form action="#">
        <div class="mb-5">
            <label class="text-darkgray text-sm leading-[1.57]" for="name">{{ form.name.label }}</label><br>
            <input class="bg-[#262A34] rounded-[6px] mt-[7px] border-[1px] border-[#5E6272] w-full py-[11px] px-5 text-white" id="name" type="text" v-bind:placeholder="form.name.placeholder">
        </div>

        <div class="mb-5">
            <label class="text-darkgray text-sm leading-[1.57]" for="email">{{ form.email.label }}</label><br>
            <input class="bg-[#262A34] rounded-[6px] mt-[7px] border-[1px] border-[#5E6272] w-full py-[11px] px-5 text-white" id="name" type="text" v-bind:placeholder="form.email.placeholder">
        </div>

        <div class="mb-3">
            <label class="text-darkgray text-sm leading-[1.57]" for="comment">{{ form.comment.label }}</label><br>
            <textarea class="bg-[#262A34] rounded-[6px] mt-[7px] border-[1px] border-[#5E6272] w-full py-[11px] px-5 min-h-[170px] text-white" id="comment" type="text" v-bind:placeholder="form.comment.placeholder"></textarea>
        </div>
        <input class="bg-[#246BFD] p-[14px] rounded-full w-full text-center text-white ff-inter font-bold text-sm" type="submit" value="Send">
    </form>
</template>

<script>
    export default {
        props: ['form']
    }
</script>