<template>
<div class="relative">
    <img class="absolute inset-0 object-cover rounded-2xl w-full h-full" v-bind:src="item.img" alt="">
    <div class="absolute right-0 left-0 bottom-0 _bg-gradient pt-[60px] px-3 pb-3">
        <h3 class="text-white text-lg font-semibold leading-[1.33] mb-1">{{ item.title }}</h3>
        <p class="text-white text-xs font-medium ff-inter">{{ item.text }}</p>
        <div class="flex items-center justify-between ff-inter">
            <p class="text-darkgray text-xs font-medium leading-[1.6]">{{ item.period }}</p>
            <p class="text-white font-semibold leading-normal">{{ item.price }}</p>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        props: ['item']
    }
</script>

<style scoped>
    ._bg-gradient {
        background: linear-gradient(180deg, rgba(24, 26, 32, 0) 0%, #181A20 100%);
    }
</style>