<template>
    <div class="text-center">
        <div class="texts_wrap md:pt-10 pt-[2.1rem] pb-[42px] px-[24px] relative rounded-[20px] bg-[rgba(255,255,255,0.05)]">
            <p class="text-white opacity-80 text-xs leading-[2.16] md:mb-[14px] mb-[11px]">{{ data.text }}</p>
            <p class="text-xs ff-poppins leading-[2.16] font-bold text-[rgba(255,255,255,0.31)]">{{ data.short_text }}</p>
        </div>
        <div class="md:mt-[43px] mt-[45px]">
            <img class="inline-block w-[60px] h-[60px] rounded-full object-cover mb-5" v-bind:src="data.author.img_url" alt="">
            <p class="text-xl text-white mb-2 font-bold">{{ data.author.name }}</p>
            <p class="text-gray text-sm">{{ data.author.position }}</p>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['data']
    }
</script>

<style scoped>
    .texts_wrap {
        box-shadow: 0px 30px 40px rgba(11, 12, 15, 0.2);
        /* backdrop-filter: blur(17px); */
    }
    .texts_wrap:after {
        content: '';
        border: solid 10px;
        border-color: rgba(255, 255, 255, 0.05) rgba(255, 255, 255, 0.05) transparent transparent;
        border-top-right-radius: 6px;

        box-shadow: 0px 30px 40px rgba(11, 12, 15, 0.2);
        /* backdrop-filter: blur(17px); */

        transform: rotate(135deg);
        width: 0;
        height: 0;
        position: absolute;
        top: calc(100% + -10px);
        right: calc(50% - 10px);
    }
</style>