<template>
    <div class="text-center">
        <img class="inline-block md:mb-4 mb-5 w-[184px] md:w-[unset]" v-bind:src="data.img_url" alt="">
        <h3 class="text-2xl md:leading-[1.08] leading-[1.27] ff-poppins font-bold text-white mb-4 inline-block max-w-[220px]">{{ data.title }}</h3>
        <p class="text-[#5E6272] text-sm leading-[1.85] ff-poppins md:px-0 px-3">{{ data.text }}</p>
    </div>
</template>

<script>
    export default {
        props: ['data']
    }
</script>