<template>
    <div class="bg-[#262A34] rounded-[20px] overflow-hidden">
        <div class="flex items-center justify-center lg+:pt-8 md:pt-[36px] pt-[26px] bg-[rgba(36,107,253,0.08)]">
            <img class="max-w-full" v-bind:src="data.img" alt="">
        </div>
        <div class="flex items-center justify-between lg+:px-5 md:px-3 px-5 lg+:pt-5 pt-4">
            <p class="text-gradient font-semibold text-lg">{{ data.position }}</p>
            <a v-bind:href="data.in"><img src="src/assets/img/icon-in.svg" alt=""></a>
        </div>
        <h3 class="lg+:text-[27px] text-lg tracking-[0.1px] lg+:tracking-normal font-semibold text-white lg+:px-5 md:px-3 px-5 lg+:pb-5 md:pb-4 pb-[18px]">{{ data.name }}</h3>
    </div>
</template>

<script>
    export default {
        props: ['data']
    }
</script>

<style scoped>
    .text-gradient {
        background: -webkit-linear-gradient(321.95deg, #B264F7 24.18%, #3A68F4 64.69%, #35A8FB 102.38%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
