<template>
    <div class="bg-[rgba(255,255,255,0.05)] rounded-[20px] lg+:mb-[23px] mb-[19px] last:mb-0 p-[30px]"
        v-bind:class="{
            'border-[#C25FFF] border-[1px]': data.status == 'proggress',
            'open': is_open,
            'shadow-[0px_-1px_3px_-1px_#C3C3C3]': data.status != 'proggress'
        }"
    >
        <div class="flex items-center lg+:flex-nowrap flex-wrap">
            <img class="w-[50px] h-[50px] rounded-full hidden lg+:block" v-bind:src="data.img" alt="">
            <div class="lg+:pl-5 lg+:pr-3 w-[calc(100%-64px)]">
                <h3 class="md:text-xl opacity-80 font-bold md:leading-[1.3] leading-[1.75] md:tracking-normal tracking-[0.6px] lg+:mb-2 mb-[13px]"
                    v-bind:style="{
                        'color': status[data.status].color
                    }"
                >{{ data.title }}</h3>
                <p class="text-sm opacity-80 text-[#576377] hidden lg+:block">{{ data.name + ' - ' + data.date }}</p>
            </div>
            <div class="ml-auto lg+:order-none order-9 md:mr-4 lg+:mr-0 -mr-4 -mt-1 md:mt-1">
                <div 
                    class="w-[50px] min-w-[50px] h-[50px] rounded-xl flex items-center justify-center"
                    v-bind:style="{
                        'background-color': status[data.status].bg
                    }"
                >
                    <img class="" v-bind:src="status[data.status].icon" alt="">
                </div>
                <p 
                    class="text-[10px] opacity-80 whitespace-nowrap relative top-[6px] flex items-center justify-center"
                    v-bind:style="{
                        'color': status[data.status].color
                    }"
                >{{ status[data.status].caption??data.upvotes }}</p>
            </div>
            <div 
                class="w-6 min-w-[50px] h-6 flex items-center justify-center arrow relative ml-2.5 mr-[3px] cursor-pointer lg+:mb-0 mb-auto md:right-0 md:bottom-0 left-8 bottom-0.5"
                @click="is_open = !is_open"
            ></div>
            <div class="lg+:hidden flex">
                <img class="w-[50px] h-[50px] rounded-full" v-bind:src="data.img" alt="">
                <div class="pl-2.5 pt-1.5">
                    <p class="text-[#D4D4D5] text-sm opacity-80 mb-1">{{ data.name }}</p>
                    <p class="text-[#576377] text-[11px] opacity-80">{{ data.date }}</p>
                </div>
            </div>
        </div>
        <p class="text-gray lg+:pl-[71px] lg+:pr-[58px] lg+:mt-[18px] md:mt-3 mt-4 text-sm leading-[1.9]" v-bind:class="{'hidden': !is_open}">{{ data.text }}</p>
    </div>
</template>

<script>
    export default {
        props: ['data'],
        data(){
            return{
                is_open: false,
                status: {
                    proggress: {
                        caption: 'In progress',
                        bg: '#C25FFF',
                        icon: 'src/assets/img/bxs-time-five.svg',
                        color: "#C25FFF"
                    },
                    upvoted: {
                        bg: '#246BFD',
                        icon: 'src/assets/img/bx-check-circle.svg',
                        caption:'Upvoted!',
                        color: "#FFFFFF"
                    },
                    default: {
                        bg: '#30353B',
                        icon: 'src/assets/img/bxs-down-arrow-alt.svg',
                        color: "#FFFFFF"
                    }
                }
            }
        }
    }
</script>

<style scoped>
    .arrow::before {
        content: '';
        width: 10px;
        height: 10px;
        border-right: solid 2px white;
        border-bottom: solid 2px white;
        transform: rotate(45deg);
    }

    .open .arrow::before {
        transform: rotate(45deg) scale(-1);
    }
</style>