<template>
    <div 
        class="popup_wrap fixed inset-0 backdrop-blur-[2px] bg-[rgba(19,21,28,0.67)] z-[1000] text-center overflow-auto md:py-10 md:px-5" 
        v-bind:class="{'hidden': !is_show}"
        @click="this.switch()"
    >
        <div @click.stop class="bg-[#262A34] md:rounded-[14px] p-10 text-left align-middle inline-block" v-bind:class="content_class">
            <div @click="this.switch()" class="close_btn cursor-pointer"></div>
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['content_class'],
        data(){
            return {
                is_show: false
            }
        },
        methods: {
            switch: function(e) {
                console.log(this.is_show);
                if(!this.is_show) {
                    document.getElementsByTagName('body')[0].classList.add('overflow-hidden');
                } else {
                    document.getElementsByTagName('body')[0].classList.remove('overflow-hidden');
                }
                this.is_show = !this.is_show;
            }
        }
    }
</script>

<style scoped>
    .popup_wrap::after {
        content: '';
        height: 100%;
        width: 0;
        display: inline-block;
        vertical-align: middle;
        margin-left: -4px;
    }

    .close_btn {
        position: absolute;
        width: 13px;
        height: 13px;
        top: 30px;
        right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .close_btn::before,
    .close_btn::after {
        content: '';
        width: 14px;
        height: 1px;
        position: absolute;
        transform: rotate(45deg);
        background: #5E6272;
    }

    .close_btn::after {
        transform: rotate(-45deg);
    }
</style>