<script setup>
    import 'vue3-carousel/dist/carousel.css';
    import { Carousel, Slide } from 'vue3-carousel';
    import CoursesItem from '@/components/CoursesItem.vue';
    import Popup from '@/components/Popup.vue'
    import RadioFieldButton from '@/components/RadioFieldButton.vue'
</script>
<template>
    <div>
        <div class="flex justify-between items-center mb-4 md:pr-6 lg+:pr-0">
            <h2 class="font-semibold text-lg text-white">{{ data.title }}</h2>
            <div class="flex items-center justify-center">
                <button @click="$refs.carousel.prev()">
                    <img src="src/assets/img/carousel-left.svg" alt="">
                </button>
                <p class="text-white ff-inter font-semibold mx-1">{{ (Math.ceil(currentSlide+1))+'/'+data.items.length }}</p>
                <button @click="$refs.carousel.next()">
                    <img src="src/assets/img/carousel-right.svg" alt="">
                </button>
            </div>
        </div>
        <carousel 
            ref="carousel"
            class=""
            snapAlign="start"
            v-model="currentSlide"
            :breakpoints="{
                0: {
                    itemsToShow: 1.263779528
                },
                768: {
                    itemsToShow: 2
                },
                1100: {
                    itemsToShow: 2.586614173
                }
            }"
        >
            <slide
                v-for="(item, key) in data.items"
                :key="key"
            >
                <div class="md:max-w-[278px] max-w-[266px] md:px-3 px-1.5 w-full mx-auto md:mx-0">
                    <CoursesItem 
                        class="w-full pt-[148%] text-left cursor-pointer"
                        @click="this.showBuyPopup(item)"
                        :item="item"
                    />
                </div>
            </slide>
        </carousel>
        <Popup content_class="w-full max-w-[788px] min-h-[500px] md:text-left text-center" ref="buy_popup">
            <h2 class="text-lg text-white font-semibold">{{ popup.title }}</h2>
            <div class="flex md:flex-row flex-col mt-[30px] md:mx-0 -mx-5">
                <div class="md:w-[40%] w-full md:mb-0 mb-6 md:max-w-full max-w-[327px] md:mx-0 mx-auto">
                    <CoursesItem 
                        class="w-full md:pt-[148%] pt-[40%] text-left"
                        :item="popup.item"
                    />
                </div>
                <form action="#" class="md:w-[60%] w-full md:pl-[7.3%] flex items-end flex-col justify-between">
                    <RadioFieldButton
                        class="w-full sm:mb-[11px] max-w-[327px] md:mx-0 mx-auto text-left"
                        :label="popup.plan.options.first.label + ' ('+popup.item.price+')'"
                        :val="popup.plan.options.first.value"
                        name="plan"
                        v-model="popup.plan.value"
                        :init_val="popup.plan.value"
                    />
                    <RadioFieldButton
                        class="w-full max-w-[327px] md:mx-0 mx-auto text-left"
                        :label="popup.plan.options.second.label + ' ('+popup.item.price+')'"
                        :val="popup.plan.options.second.value"
                        name="plan"
                        v-model="popup.plan.value"
                        :init_val="popup.plan.value"
                    />

                    <p class="text-darkgray text-xs font-medium leading-[1.6] ff-inter max-w-[327px] pb-8 md:mx-0 mx-auto" v-html="popup.text"></p>

                    <input class="bg-[#246BFD] p-[14px] rounded-full w-full text-center text-white ff-inter font-bold text-sm max-w-[327px] mt-auto cursor-pointer md:mx-0 mx-auto" type="submit" v-bind:value="popup.submit">
                </form>
            </div>
        </Popup>
    </div>

</template>

<script>
    export default {
        data(){
            return {
                currentSlide: 0,
                popup: {
                    title: 'Buy Quantum',
                    item: {
                        img: '',
                        title: '',
                        text: '',
                        period: '',
                        price: '',
                    },
                    plan: {
                        value: 'default',
                        options: {
                            first: {
                                value: 'default',
                                label: 'Buy now'
                            },
                            second: {
                                value: 'quantum_points',
                                label: 'Buy with Quantum Points'
                            }
                        },
                    },
                    text: "Spend <span class='text-white'>300/700</span> of your quantum points to obtain this discount",
                    submit: 'Buy'
                }
            }
        },
        props: ['data'],
        methods: {
            showBuyPopup: function(item){
                console.log(item);
                console.log(this.$refs);
                this.popup.item = item;
                this.$refs.buy_popup.switch();
            }
        }
    }
</script>

<style scoped>
    .carousel__viewport {
        overflow: visible;
    }
</style>