<template>
    <section class="page-bg md:pt-[80px]">
        <div style="background-image: url('src/assets/img/progile-bg.png'); background-size: 100% 100%;">
            <div class="flex flex-col-reverse md:flex-row items-stretch justify-between lg+:max-w-[1174px] max-w-[934px] mx-auto lg+:pt-[59px] md:pt-[109px] md:pb-[234px] pb-[100px] px-6">
                <div class="md:max-w-[329px] min-w-[329px] w-full md:mx-0 mx-auto profile_menu">
                    <template v-for="item in nav">
                        <template v-if="item.use_vue_router">
                            <router-link 
                                class="p-[1px] block rounded-xl mb-[12px] last:mb-0" 
                                v-bind:to="item.url"
                                v-bind:class="{
                                    'bg-[#262A34]': !item.border_gradient,
                                    'bg-[linear-gradient(321.95deg,#B264F7_24.18%,#3A68F4_64.69%,#35A8FB_102.38%)]': item.border_gradient,
                                }"
                            >
                                <div class="flex items-center justify-start bg-[#262A34] rounded-xl p-4 hover:bg-[#246BFD] transition duration-500">
                                    <img class="w-6 h-6 mr-4" v-bind:src="item.img" alt="icon">
                                    <span class="text-white font-bold ff-inter">{{ item.caption }}</span>
                                </div>
                            </router-link>
                        </template>
                        <template v-else>
                            <a 
                                class="p-[1px] block rounded-xl mb-[12px] last:mb-0" 
                                v-bind:href="item.url"
                                v-bind:class="{
                                    'bg-[#262A34]': !item.border_gradient,
                                    'bg-[linear-gradient(321.95deg,#B264F7_24.18%,#3A68F4_64.69%,#35A8FB_102.38%)]': item.border_gradient,
                                }"
                            >
                                <div class="flex items-center justify-start bg-[#262A34] rounded-xl p-4 hover:bg-[#246BFD] transition duration-500">
                                    <img class="w-6 h-6 mr-4" v-bind:src="item.img" alt="icon">
                                    <span class="text-white font-bold ff-inter">{{ item.caption }}</span>
                                </div>
                            </a>
                        </template>
                    </template>
                </div>
                <div class="md:w-[67.2%] md:pl-10">
                    <slot></slot>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data(){
            return {
                nav: [
                    {
                        img: 'src/assets/img/profile-nav-1.svg',
                        caption: 'Go Pro',
                        url: '#',
                        border_gradient: true,
                        use_vue_router: true
                    },
                    {
                        img: 'src/assets/img/profile-nav-2.svg',
                        caption: 'Quantum Growth',
                        url: '/profile-growth',
                        border_gradient: false,
                        use_vue_router: true
                    },
                    {
                        img: 'src/assets/img/profile-nav-3.svg',
                        caption: 'Daily Affirmations',
                        url: '/profile-affirmations',
                        border_gradient: false,
                        use_vue_router: true
                    },
                    {
                        img: 'src/assets/img/profile-nav-4.svg',
                        caption: 'Referal',
                        url: '/profile-referal',
                        border_gradient: false,
                        use_vue_router: true
                    },
                    {
                        img: 'src/assets/img/profile-nav-5.svg',
                        caption: 'Deposit Bank Account',
                        url: '/profile-bank',
                        border_gradient: false,
                        use_vue_router: true
                    },
                    {
                        img: 'src/assets/img/profile-nav-6.svg',
                        caption: 'Log Out',
                        url: '/',
                        border_gradient: false,
                        use_vue_router: true
                    },
                ]
            }
        }
    }
</script>

<style scoped>
    .profile_menu .router-link-active:not(:first-child) {
        background: #246BFD;
        position: relative;
    }

    .profile_menu .router-link-active:not(:first-child) > div {
        background: #246BFD;
    }

    .profile_menu .router-link-active:not(:first-child)::before {
        content: '';
        width: 17px;
        height: 17px;
        border-radius: 5px;
        top: calc(50% - 8.5px);
        left: -8px;
        position: absolute;
        background: #246BFD;
        transform: rotate(45deg);
    }
</style>