<template>
    <div>
        <input 
            class="hidden"
            v-bind:id="input_id"
            v-model="value"
            type="radio"
            @change="update"
            v-bind:name="name"
            v-bind:value="val"
            v-bind:checked="val==init_val?true:false"
        >
        <label 
            class="text-white mb-2 cursor-pointer block font-semibold w-full rounded-xl border border-[#5E6272] whitespace-nowrap ff-inter p-[20px_36px_21px_14px]" 
            v-bind:for="input_id">
                {{ label }}
                <div class="icon_radio float-right w-4 h-4 ml-auto rounded-full flex items-center justify-center border border-[#5E6272] transition duration-500 absolute right-[12px] top-[21px]">
                    <div class="w-2.5 h-2.5 rounded-full transition duration-500"></div>
                </div>
                <template v-if="additional_text!=''">
                    <div class="bg-btn-gradien-border p-0.5 absolute md:right-2 right-[0.9rem] top-0 transform -translate-y-1/2 rounded-full overflow-hidden text-darkgray">
                        <div class="bg-white text-xs rounded-full py-1 px-3">{{additional_text}}</div>
                    </div>
                </template>
        </label>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                value: '',
                input_id: 'id_'
            }
        },
        props: {
            modelValue: String,
            val: String,
            additional_text: {
                type: String,
                default: '',
            },
            label: String,
            name: String,
            init_val: String
        },
        emits: ['update:modelValue'],
        methods: {
            update: function(){
                console.log(this.value);
                this.$emit('update:modelValue', this.value);
            }
        },
        mounted: function(){
            // this.value = this.val??'';
            this.input_id = 'id_'+this.randomStr(10);
        }
    }
</script>

<style scoped>
    input:checked + label {
        background: linear-gradient(321.95deg, #B264F7 24.18%, #3A68F4 64.69%, #35A8FB 102.38%);
    }

    input:checked + label .icon_radio {
        border-color: white;
    }
    
    input:checked + label .icon_radio div {
        background: white;
    }
</style>