<template>
    <div>
        <input 
            class="hidden"
            v-bind:id="input_id"
            v-model="value"
            type="radio"
            @change="update"
            v-bind:name="name"
            v-bind:value="val"
            v-bind:checked="val==init_val?true:false"
        >
        <label 
            class="text-[#5E6272] cursor-pointer flex items-center justify-start w-full" 
            v-bind:for="input_id">
                <div class="icon_radio mr-2 w-4 min-w-[16px] h-4 rounded-full flex items-center justify-center border border-[#5E6272] transition duration-500">
                    <div class="w-2.5 h-2.5 rounded-full transition duration-500"></div>
                </div>
                <img class="w-[30px] h-[30px] mr-2" v-bind:src="img_url" v-bind:alt="value">
                <span class="whitespace-nowrap">{{ label }}</span>
        </label>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                value: '',
                input_id: 'id_'
            }
        },
        props: {
            modelValue: String,
            val: String,
            label: String,
            img_url: String,
            name: String,
            init_val: String
        },
        emits: ['update:modelValue'],
        methods: {
            update: function(){
                console.log(this.value);
                this.$emit('update:modelValue', this.value);
            }
        },
        mounted: function(){
            // this.value = this.val??'';
            this.input_id = 'id_'+this.randomStr(10);
        }
    }
</script>

<style scoped>
    input:checked + label {
        color: white;
        font-weight: 600;
    }

    input:checked + label .icon_radio {
        border-color: white;
    }
    
    input:checked + label .icon_radio div {
        background: white;
    }

    img {
        filter: brightness(10) invert(39%) sepia(17%) saturate(385%) hue-rotate(190deg) brightness(92%) contrast(89%);
        transition: .5s;
    }

    input:checked + label img {
        filter: none;
    }
</style>