<template>
    <div>
        <label 
            v-bind:for="input_id"
            v-bind:class="{
                'text-darkgray mb-3 cursor-pointer block font-bold uppercase text-[10px]': label_class == '', 
                [label_class]: label_class !=''
            }"
        >{{ label }}</label>
        
        <input 
            v-if="internal_type != 'textarea'"
            v-bind:class="{
                'w-full ff-inter border-0 bg-transparent block text-white py-3 border-b border-darkgray focus:outline-0 font-semibold': input_class == '', 
                [input_class]: input_class != ''
            }"
            v-bind:id="input_id"
            v-model="value"
            v-bind:type="internal_type"
            @input="update"
            v-bind:placeholder="placeholder"
        >
        <textarea 
            v-else
            v-bind:class="{
                'md:h-[5em] h-[8em] resize-none leading-normal w-full ff-inter border-0 bg-transparent block text-white py-3 border-b border-darkgray focus:outline-0 font-semibold': input_class == '', 
                [input_class]: input_class != ''
            }"
            v-bind:id="input_id"
            v-model="value"
            v-bind:type="internal_type"
            @input="update"
            v-bind:placeholder="placeholder"
        ></textarea>


        <template v-if="type == 'password'">
            <img 
                @click="internal_type = internal_type=='password'?'text':'password'"
                class="w-6 h-6 p-1 absolute right-0 bottom-2.5 cursor-pointer"
                v-bind:class="{'opacity-50': internal_type == 'password'}"
                src="src/assets/img/pass_btn.svg" alt=""
            >
        </template>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                value: '',
                input_id: 'id_',
                internal_type: ''
            }
        },
        props: {
            modelValue: String,
            val: String,
            placeholder: {
                type: String,
                default: '',
            },
            label: String,
            type: {
                type: String,
                default: 'text',
            },
            label_class: 
            {
                type: String,
                default: '',
            },
            input_class: 
            {
                type: String,
                default: '',
            }
        },
        emits: ['update:modelValue'],
        methods: {
            update: function(){
                this.$emit('update:modelValue', this.value);
            }
        },
        mounted: function(){
            this.value = this.val??'';
            this.input_id = 'id_'+this.randomStr(10);
            this.internal_type = this.type;
        }
    }
</script>