<template>
    <footer class="bg-[#13151C] mt-[-1px] px-5 md:pt-[68px] pt-[103px] ff-poppins pb-[42px]">
        <div class="flex flex-col md:flex-row md:text-left text-center items-start justify-between lg+:max-w-[1170px] max-w-[884px] md:pl-4 lg+:pl-0 mx-auto pb-[81px] border-b border-[#ffffff19] mb-10">
            <div class="md:w-1/2 w-full md:pr-4 max-w-[326px] md:mx-0 mx-auto">
                <router-link class="mb-2.5 inline-block" to="/"><img v-bind:src="left.logo_url" alt="Quantum Movie"></router-link>
                <p class="hidden md:block text-gray text-sm opacity-70 leading-[1.86] mb-[5em]">{{ left.text }}</p>
                <p class="md:hidden block text-gray text-sm opacity-70 leading-[1.86] mb-[52px] px-3">{{ left.text_mob }}</p>
                <div class="flex items-center md:justify-start justify-center">
                    <a 
                        class="w-6 h-6 block mr-[30px] last:mr-0 social_link"
                        v-for="(item, index) in left.socials" 
                        :key="index" 
                        v-bind:href="item.url"
                    >
                        <img v-bind:src="item.img_url" v-bind:alt="item.img_url.replace(/^.*[\\\/]/, '')">
                    </a>
                </div>
                
            </div>

            <nav class="my-[60px] md:my-0 mx-auto relative md:right-10">
                <h3 class="text-white leading-normal md:mb-7 mb-4 font-semibold">{{ mob_menu.title }}</h3>
                <ul>
                    <li class="leading-[1.7] md:mb-0 mb-[7px]" v-for="(item, index) in mob_menu.items" :key="index"><a class="text-gray opacity-70 text-sm" v-bind:href="item.url">{{ item.caption }}</a></li>
                </ul>
            </nav>
            
            <div class="md:w-1/2 w-full max-w-[290px] md:pl-5 mx-auto md:mx-0">
                <h3 class="text-white font-semibold leading-normal mb-[30px]">{{ right.title }}</h3>
                <p class="md:block hidden whitespace-pre-line text-gray text-sm leading-[1.86] opacity-70 mb-[30px]">{{ right.text }}</p>
                <p class="md:hidden block whitespace-pre-line text-gray text-sm leading-[1.86] opacity-70 mb-[30px]">{{ right.text_mob }}</p>
                <div class="flex items-center md:justify-between justify-center md:max-w-[256px]">
                    <a class="max-w-[121px] mr-[14px]" v-bind:href="right.buttons.first.url">
                        <img v-bind:src="right.buttons.first.img_url" alt="">
                    </a>

                    <a class="max-w-[121px]" v-bind:href="right.buttons.second.url">
                        <img v-bind:src="right.buttons.second.img_url" alt="">
                    </a>
                </div>
            </div>
        </div>
        <p class="text-center ff-poppins text-gray opacity-80 leading-[1.62] md:tracking-[0.6px] mt-[42px]">{{ copyright }}</p>
    </footer>
</template>

<script>
    export default {
        data(){
            return {
                left: {
                    logo_url: "src/assets/img/Logo.svg",
                    text: "Maximizing the potential of every human being. So everyone can experience true happiness and manifest their dreams into reality.",
                    text_mob: "We believe that maximize potential of people, experience true happiness and manfiest dreams into reality. etc.",
                    socials: [
                        {
                            img_url: "src/assets/img/inst.svg",
                            url: "#"
                        },
                        {
                            img_url: "src/assets/img/in.svg",
                            url: "#"
                        },
                        {
                            img_url: "src/assets/img/fb.svg",
                            url: "#"
                        },
                        {
                            img_url: "src/assets/img/tw.svg",
                            url: "#"
                        },
                    ]
                },
                right: {
                    title: "Contact",
                    text: `Nieuwe Erven 12
                            5431 NT Cuijk
                            Netherlands
                            Email: support@quantumlife.app`,
                    text_mob: `Nieuwe Dukenburgseweg 9
                            6534 AD Nijmegen
                            Netherlands
                            Email: support@quantumlife.app`,
                    buttons: {
                        first: {
                            url: "#",
                            img_url: "src/assets/img/btn_2.png"
                        },
                        second: {
                            url: "#",
                            img_url: "src/assets/img/btn_1.png"
                        }
                    }
                },
                copyright: "© 2022 QuantumLife, All Rights Reserved.",

                mob_menu: {
                    title: "menu",
                    items: [
                        {
                            caption: "Partner",
                            url: "#"
                        },
                        {
                            caption: "About",
                            url: "#"
                        },
                        {
                            caption: "Help",
                            url: "#"
                        }
                    ]
                }
            }
        }
    }
</script>

<style scoped>
.social_link {
    filter: brightness(0) invert(1);
    transition: .5s;
}

.social_link:hover {
    filter: none;
}
</style>