<template>
    <header class="absolute left-0 top-0 right-0 z-[999] md:block hidden">
        <div class="_container md:py-4 py-6 lg+:max-w-[1198px] max-w-[912px] flex md:justify-between justify-center items-center">
            <div 
                class="absolute flex items-center justify-center md:hidden burger_btn left-4 top w-[30px] h-[30px] cursor-pointer"
                v-bind:class="{open: mob_menu_show}"
                @click="mob_menu_show = !mob_menu_show"
            >
                <span class="flex items-center justify-center"></span>
            </div>
            
            <router-link to="/pages-list"><img v-bind:src="logo_url" alt="Quantum Movie"></router-link>

            <ul class="md:flex hidden items-center justify-between w-full max-w-[279px] ml-[5.5%] mr-auto">
                <li v-for="item in menu"><a v-bind:href="item.url" class="text-gray text-sm font-semibold">{{ item.caption }}</a></li>
            </ul>

            <div class="md:flex items-stretch md:relative absolute w-full right-0 top-full text-center py-4 px-5 bg-[#181A20] md:py-0 md:px-0 md:bg-transparent md:w-auto" v-bind:class="{hidden: !mob_menu_show}">
                <ul class="items-center justify-between w-full md:hidden">
                    <li v-for="item in menu"><a v-bind:href="item.url" class="text-gray font-semibold mb-2 block">{{ item.caption }}</a></li>
                </ul>
                <router-link v-bind:to="profile_btn.url">
                    <img class="w-[48px] h-[48px] block rounded-full" v-bind:src="profile_btn.img" alt="">
                </router-link>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        data(){
            return {
                logo_url: "src/assets/img/Logo.svg",
                profile_btn: {
                    img: 'src/assets/img/avatar.png',
                    url: 'profile'
                },
                menu: [
                    {
                        caption: 'Partner',
                        url: '#'
                    },
                    {
                        caption: 'About',
                        url: '#'
                    },
                    {
                        caption: 'Help',
                        url: '#'
                    }
                ],
                mob_menu_show: false
            }
        }
    }
</script>

<style scoped>

    .burger_btn span,
    .burger_btn span:before,
    .burger_btn span:after {
        content: '';
        position: absolute;
        width: 22px;
        height: 2px;
        background: linear-gradient(321.95deg, #B264F7 24.18%, #3A68F4 64.69%, #35A8FB 102.38%);
        border-radius: 2px;
        transition: .5s;
    }

    .burger_btn span:before {
        top: -7px;
    }

    .burger_btn span:after {
        bottom: -7px;
    }

    .burger_btn.open span {
        background: transparent;
    }

    .burger_btn.open span:before {
        top: 0;
        transform: rotate(45deg);
    }

    .burger_btn.open span:after {
        bottom: 0;
        transform: rotate(-45deg);
    }

</style>