@import "./base.css";

body {
    font-size: 16px;
}

._container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

body {
    /* font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ff-inter {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ff-poppins {
    font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-btn-gradien-border {
    background: linear-gradient(321.95deg, #B264F7 24.18%, #3A68F4 64.69%, #35A8FB 102.38%);
}

.opacity-gradient-bg {
    background: linear-gradient(321.95deg, #B264F733 24.18%, #3A68F433 64.69%, #35A8FB33 102.38%);
} 

.text-gradient {
    background: linear-gradient(321.95deg, #B264F7 24.18%, #3A68F4 64.69%, #35A8FB 102.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
} 

.popup-bg-img {
    background-image: url('src/assets/img/popup-bg.png');
    background-size: cover;
    background-position: center;
}


.page-bg {
    background-color: #181A20;
}